{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate-testcreatedeploymentrulereturnsbadrequestresponse1765358629\",\"service\":\"my-service\"},\"type\":\"deployment_gate\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/deployment_gates"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"39b27cfd-44c1-4ec0-900b-3b46ca2ab8c1\",\"type\":\"deployment_gate\",\"attributes\":{\"created_at\":\"2025-12-10T09:23:50.404151Z\",\"created_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate-testcreatedeploymentrulereturnsbadrequestresponse1765358629\",\"service\":\"my-service\",\"updated_at\":\"2025-12-10T09:23:50.404151Z\",\"updated_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 10 Dec 2025 09:23:49 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"dry_run\":false,\"name\":\"test\",\"options\":{\"excluded_resources\":[]},\"type\":\"fdd\"},\"type\":\"deployment_rule\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/deployment_gates/39b27cfd-44c1-4ec0-900b-3b46ca2ab8c1/rules"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"type\\\" must be one of \\\"monitor faulty_deployment_detection\\\"\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 10 Dec 2025 09:23:49 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/deployment_gates/39b27cfd-44c1-4ec0-900b-3b46ca2ab8c1"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Wed, 10 Dec 2025 09:23:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}