{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_user_details_returns_OK_response-1697467605@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/users"}, "response": {"body": {"string": "{\"data\":{\"type\":\"users\",\"id\":\"d3edd11c-6c32-11ee-9c79-aaef51702d10\",\"attributes\":{\"name\":null,\"handle\":\"test-get_user_details_returns_ok_response-1697467605@datadoghq.com\",\"created_at\":\"2023-10-16T14:46:45.480711+00:00\",\"modified_at\":\"2023-10-16T14:46:45.480711+00:00\",\"email\":\"test-get_user_details_returns_ok_response-1697467605@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/64901293a45aa6f5fa32d0fa57decdb2?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Mon, 16 Oct 2023 14:46:45 GMT"}, {"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/users/d3edd11c-6c32-11ee-9c79-aaef51702d10"}, "response": {"body": {"string": "{\"data\":{\"type\":\"users\",\"id\":\"d3edd11c-6c32-11ee-9c79-aaef51702d10\",\"attributes\":{\"name\":null,\"handle\":\"test-get_user_details_returns_ok_response-1697467605@datadoghq.com\",\"created_at\":\"2023-10-16T14:46:45.480711+00:00\",\"modified_at\":\"2023-10-16T14:46:45.480711+00:00\",\"email\":\"test-get_user_details_returns_ok_response-1697467605@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/64901293a45aa6f5fa32d0fa57decdb2?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 16 Oct 2023 14:46:45 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/users/d3edd11c-6c32-11ee-9c79-aaef51702d10"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Mon, 16 Oct 2023 14:46:45 GMT"}], "recorded_with": "VCR 6.0.0"}