{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_invitation_returns_OK_response-1652349217@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/users"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"users\",\"id\":\"657f03d8-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_invitation_returns_ok_response-1652349217@datadoghq.com\",\"created_at\":\"2022-05-12T09:53:38.255148+00:00\",\"modified_at\":\"2022-05-12T09:53:38.307302+00:00\",\"email\":\"test-get_a_user_invitation_returns_ok_response-1652349217@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/dab87213dd8f46847259f2c1bccca22f?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Thu, 12 May 2022 09:53:37 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"657f03d8-d1d9-11ec-ad3d-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/user_invitations"
      },
      "response": {
        "body": {
          "string": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"65ef03ae-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"uuid\":\"65ef03ae-d1d9-11ec-ad3d-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2022-05-12T09:53:38.990217+00:00\",\"expires_at\":\"2022-05-14T09:53:38.846030+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"657f03d8-d1d9-11ec-ad3d-da7ad0900002\"}}}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Thu, 12 May 2022 09:53:37 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/user_invitations/65ef03ae-d1d9-11ec-ad3d-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"user_invitations\",\"id\":\"65ef03ae-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"uuid\":\"65ef03ae-d1d9-11ec-ad3d-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2022-05-12T09:53:38.990217+00:00\",\"expires_at\":\"2022-05-14T09:53:38.846030+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"657f03d8-d1d9-11ec-ad3d-da7ad0900002\"}}}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 12 May 2022 09:53:37 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/users/657f03d8-d1d9-11ec-ad3d-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 12 May 2022 09:53:37 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}