{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"email\":\"Test-Send_invitation_emails_returns_OK_response-1652349230@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/users"}, "response": {"body": {"string": "{\"data\":{\"type\":\"users\",\"id\":\"6cf192b6-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-send_invitation_emails_returns_ok_response-1652349230@datadoghq.com\",\"created_at\":\"2022-05-12T09:53:50.750988+00:00\",\"modified_at\":\"2022-05-12T09:53:50.825901+00:00\",\"email\":\"test-send_invitation_emails_returns_ok_response-1652349230@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/08690384d51c4e0218825490e53c6f9a?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Thu, 12 May 2022 09:53:50 GMT"}, {"request": {"body": {"string": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"6cf192b6-d1d9-11ec-ad3d-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/user_invitations"}, "response": {"body": {"string": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"6d565dfe-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"uuid\":\"6d565dfe-d1d9-11ec-ad3d-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2022-05-12T09:53:51.412532+00:00\",\"expires_at\":\"2022-05-14T09:53:51.311613+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"6cf192b6-d1d9-11ec-ad3d-da7ad0900002\"}}}}]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Thu, 12 May 2022 09:53:50 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/users/6cf192b6-d1d9-11ec-ad3d-da7ad0900002"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Thu, 12 May 2022 09:53:50 GMT"}], "recorded_with": "VCR 6.0.0"}