{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"disabled\":true,\"name\":\"updated\"},\"id\":\"00000000-dead-beef-dead-ffffffffffff\",\"type\":\"users\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/users/00000000-dead-beef-dead-ffffffffffff"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"00000000-dead-beef-dead-ffffffffffff not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 06 Jan 2022 00:52:36 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}