{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/actions/execution-policies?page%5Bsize%5D=0"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"error listing execution policies\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 14 Aug 2026 09:13:43 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}