{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_API_key_returns_OK_response-1652349133\"},\"type\":\"api_keys\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/api_keys"}, "response": {"body": {"string": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2022-05-12T09:52:13.583089+00:00\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"last4\":\"xxxx\",\"modified_at\":\"2022-05-12T09:52:13.583089+00:00\",\"name\":\"Test-Get_API_key_returns_OK_response-1652349133\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"leak_information\":{\"data\":null}},\"id\":\"d1029ab0-413b-467f-a2a6-1d49238fc386\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Thu, 12 May 2022 09:52:13 GMT"}, {"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/api_keys/d1029ab0-413b-467f-a2a6-1d49238fc386"}, "response": {"body": {"string": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2022-05-12T09:52:13.583089+00:00\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"last4\":\"xxxx\",\"modified_at\":\"2022-05-12T09:52:13.583089+00:00\",\"name\":\"Test-Get_API_key_returns_OK_response-1652349133\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"leak_information\":{\"data\":null}},\"id\":\"d1029ab0-413b-467f-a2a6-1d49238fc386\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 12 May 2022 09:52:13 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/api_keys/d1029ab0-413b-467f-a2a6-1d49238fc386"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Thu, 12 May 2022 09:52:13 GMT"}], "recorded_with": "VCR 6.0.0"}