{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/current_user/application_keys/incorrectId"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Application key not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 08 Sep 2025 09:24:48 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}