{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"from_ts\":1721505230,\"interval\":\"monthly\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"timezone\":\"America/New_York\",\"to_ts\":1724961230}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/slo/report"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"69cfaa02-6640-11ef-8501-33b2b403f044\",\"type\":\"report_id\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 29 Aug 2024 19:53:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}