{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"from_ts\":1690901870,\"interval\":\"bad-interval\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"to_ts\":1706803070}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/slo/report"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Invalid Argument\",\"detail\":\"bad-interval is not a valid interval\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 18 Apr 2024 20:09:43 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}