{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"from_ts\":1723146831,\"interval\":\"monthly\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"to_ts\":1724961231}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/slo/report"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"6a25239c-6640-11ef-943f-83644ac57ee3\",\"type\":\"report_id\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 29 Aug 2024 19:53:51 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/slo/report/6a25239c-6640-11ef-943f-83644ac57ee3/status"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"6a25239c-6640-11ef-943f-83644ac57ee3\",\"type\":\"report_id\",\"attributes\":{\"status\":\"in_progress\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 29 Aug 2024 19:53:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}