{"http_interactions": [{"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config"}, "response": {"body": {"string": "{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"attributes\":{},\"type\":\"sensitive_data_scanner_configuration\",\"relationships\":{\"groups\":{\"data\":[]}}},\"meta\":{\"version\":12578,\"count_limit\":100,\"group_count_limit\":20,\"is_pci_compliant\":false,\"has_highlight_enabled\":true,\"has_multi_pass_enabled\":true}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Tue, 24 Jan 2023 13:12:15 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"my-test-group\",\"product_list\":[\"logs\"]},\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_group\"},\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups"}, "response": {"body": {"string": "{\"data\":{\"id\":\"TnVRBDeuSM67AsD6qluDxQ\",\"attributes\":{\"name\":\"my-test-group\",\"is_enabled\":false,\"filter\":{\"query\":\"*\"},\"product_list\":[\"logs\"]},\"type\":\"sensitive_data_scanner_group\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}}},\"meta\":{\"version\":12579}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Tue, 24 Jan 2023 13:12:15 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"is_enabled\":true,\"name\":\"Test-Delete_Scanning_Rule_returns_OK_response-1674565935\",\"namespaces\":[\"admin.email\"],\"pattern\":\"pattern\",\"tags\":[\"sensitive_data:true\"],\"text_replacement\":{\"type\":\"none\"}},\"relationships\":{\"group\":{\"data\":{\"id\":\"TnVRBDeuSM67AsD6qluDxQ\",\"type\":\"sensitive_data_scanner_group\"}}},\"type\":\"sensitive_data_scanner_rule\"},\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules"}, "response": {"body": {"string": "{\"data\":{\"id\":\"uTxgTNxqRy6L3a44B9KZDw\",\"attributes\":{\"name\":\"Test-Delete_Scanning_Rule_returns_OK_response-1674565935\",\"namespaces\":[\"admin.email\"],\"excluded_namespaces\":[],\"pattern\":\"pattern\",\"text_replacement\":{\"type\":\"none\"},\"tags\":[\"sensitive_data:true\"],\"is_enabled\":true},\"type\":\"sensitive_data_scanner_rule\",\"relationships\":{\"group\":{\"data\":{\"id\":\"TnVRBDeuSM67AsD6qluDxQ\",\"type\":\"sensitive_data_scanner_group\"}}}},\"meta\":{\"version\":12580}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Tue, 24 Jan 2023 13:12:15 GMT"}, {"request": {"body": {"string": "{\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/uTxgTNxqRy6L3a44B9KZDw"}, "response": {"body": {"string": "{\"meta\":{\"version\":12581}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Tue, 24 Jan 2023 13:12:15 GMT"}, {"request": {"body": {"string": "{\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/uTxgTNxqRy6L3a44B9KZDw"}, "response": {"body": {"string": "{\"errors\":[\"not_found(null)\"]}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 404, "message": "Not Found"}}, "recorded_at": "Tue, 24 Jan 2023 13:12:15 GMT"}, {"request": {"body": {"string": "{\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/TnVRBDeuSM67AsD6qluDxQ"}, "response": {"body": {"string": "{\"meta\":{\"version\":12582}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Tue, 24 Jan 2023 13:12:15 GMT"}], "recorded_with": "VCR 6.0.0"}