{"http_interactions": [{"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config"}, "response": {"body": {"string": "{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"attributes\":{},\"type\":\"sensitive_data_scanner_configuration\",\"relationships\":{\"groups\":{\"data\":[{\"id\":\"z9vY6YO8R-2q6dv_rTUOCA\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"01OnORacS5qHeVO7C97drg\",\"type\":\"sensitive_data_scanner_group\"}]}}},\"meta\":{\"version\":127247,\"count_limit\":100,\"group_count_limit\":20,\"is_pci_compliant\":false,\"has_highlight_enabled\":true,\"has_multi_pass_enabled\":true},\"included\":[{\"id\":\"z9vY6YO8R-2q6dv_rTUOCA\",\"attributes\":{\"name\":\"Example-Update_Scanning_Group_returns_OK_response_1696199477\",\"is_enabled\":false,\"filter\":{\"query\":\"*\"},\"product_list\":[\"logs\"]},\"type\":\"sensitive_data_scanner_group\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}}},{\"id\":\"01OnORacS5qHeVO7C97drg\",\"attributes\":{\"name\":\"my-test-group\",\"is_enabled\":false,\"filter\":{\"query\":\"*\"},\"product_list\":[\"logs\"]},\"type\":\"sensitive_data_scanner_group\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}}}]}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Wed, 13 Dec 2023 09:06:40 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"my-test-group\",\"product_list\":[\"logs\"]},\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_group\"},\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups"}, "response": {"body": {"string": "{\"data\":{\"id\":\"LAf2eSOlTQ6RTz2rwiQGsA\",\"attributes\":{\"name\":\"my-test-group\",\"is_enabled\":false,\"filter\":{\"query\":\"*\"},\"product_list\":[\"logs\"]},\"type\":\"sensitive_data_scanner_group\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}}},\"meta\":{\"version\":127248}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Wed, 13 Dec 2023 09:06:40 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"is_enabled\":true,\"name\":\"Test-Update_Scanning_Rule_returns_OK_response-1702458400\",\"namespaces\":[\"admin.email\"],\"pattern\":\"pattern\",\"tags\":[\"sensitive_data:true\"],\"text_replacement\":{\"type\":\"none\"}},\"relationships\":{\"group\":{\"data\":{\"id\":\"LAf2eSOlTQ6RTz2rwiQGsA\",\"type\":\"sensitive_data_scanner_group\"}}},\"type\":\"sensitive_data_scanner_rule\"},\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules"}, "response": {"body": {"string": "{\"data\":{\"id\":\"N7Hb8CgTRayW0VADXfo9Wg\",\"attributes\":{\"name\":\"Test-Update_Scanning_Rule_returns_OK_response-1702458400\",\"namespaces\":[\"admin.email\"],\"excluded_namespaces\":[],\"pattern\":\"pattern\",\"text_replacement\":{\"type\":\"none\"},\"tags\":[\"sensitive_data:true\"],\"is_enabled\":true},\"type\":\"sensitive_data_scanner_rule\",\"relationships\":{\"group\":{\"data\":{\"id\":\"LAf2eSOlTQ6RTz2rwiQGsA\",\"type\":\"sensitive_data_scanner_group\"}}}},\"meta\":{\"version\":127249}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Wed, 13 Dec 2023 09:06:40 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"is_enabled\":true,\"name\":\"Test-Update_Scanning_Rule_returns_OK_response-1702458400\",\"pattern\":\"pattern\",\"priority\":5,\"tags\":[\"sensitive_data:true\"],\"text_replacement\":{\"type\":\"none\"}},\"id\":\"N7Hb8CgTRayW0VADXfo9Wg\",\"relationships\":{\"group\":{\"data\":{\"id\":\"LAf2eSOlTQ6RTz2rwiQGsA\",\"type\":\"sensitive_data_scanner_group\"}}},\"type\":\"sensitive_data_scanner_rule\"},\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/N7Hb8CgTRayW0VADXfo9Wg"}, "response": {"body": {"string": "{\"meta\":{\"version\":127250}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Wed, 13 Dec 2023 09:06:40 GMT"}, [...]
{"request": {"body": {"string": "{\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/LAf2eSOlTQ6RTz2rwiQGsA"}, "response": {"body": {"string": "{\"meta\":{\"version\":127252}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Wed, 13 Dec 2023 09:06:40 GMT"}], "recorded_with": "VCR 6.0.0"}