{"http_interactions": [{"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config"}, "response": {"body": {"string": "{\"meta\":{\"count_limit\":100,\"version\":1215,\"group_count_limit\":20,\"is_pci_compliant\":false,\"has_highlight_enabled\":true},\"data\":{\"relationships\":{\"groups\":{\"data\":[]}},\"attributes\":{},\"type\":\"sensitive_data_scanner_configuration\",\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Fri, 09 Dec 2022 09:53:03 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"my-test-group\",\"product_list\":[\"logs\"]},\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_group\"},\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups"}, "response": {"body": {"string": "{\"meta\":{\"version\":1216},\"data\":{\"relationships\":{\"rules\":{\"data\":[]},\"configuration\":{\"data\":{\"type\":\"sensitive_data_scanner_configuration\",\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\"}}},\"attributes\":{\"is_enabled\":false,\"filter\":{\"query\":\"*\"},\"product_list\":[\"logs\"],\"name\":\"my-test-group\"},\"type\":\"sensitive_data_scanner_group\",\"id\":\"ut9dJ0wfShO5ULFVTgFF8A\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Fri, 09 Dec 2022 09:53:03 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"Test-Update_Scanning_Group_returns_OK_response-1670579583\",\"product_list\":[\"logs\"]},\"id\":\"ut9dJ0wfShO5ULFVTgFF8A\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_group\"},\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/ut9dJ0wfShO5ULFVTgFF8A"}, "response": {"body": {"string": "{\"meta\":{\"version\":1217}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Fri, 09 Dec 2022 09:53:03 GMT"}, {"request": {"body": {"string": "{\"meta\":{}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/ut9dJ0wfShO5ULFVTgFF8A"}, "response": {"body": {"string": "{\"meta\":{\"version\":1218}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Fri, 09 Dec 2022 09:53:03 GMT"}], "recorded_with": "VCR 6.0.0"}