{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {},
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/network/connections/aggregate?limit=8000"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid limit\",\"detail\":\"Limit must meet requirements listed in https://docs.datadoghq.com/api/latest/cloud-network-monitoring/\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 25 Jul 2025 20:54:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}
