{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"compute\":[{\"aggregation\":\"pc90\",\"metric\":\"@view.time_spent\",\"type\":\"total\"}],\"filter\":{\"from\":\"now-15m\",\"query\":\"@type:view AND @session.type:user\",\"to\":\"now\"},\"group_by\":[{\"facet\":\"@view.time_spent\",\"limit\":10,\"total\":false}],\"options\":{\"timezone\":\"GMT\"},\"page\":{\"limit\":25}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/rum/analytics/aggregate"
      },
      "response": {
        "body": {
          "string": "{\"meta\":{\"elapsed\":10,\"request_id\":\"pddv1ChZSMml0UE50SVRraWllRWtWbUV1UHVBIiwKHII2XAGPhMI6Ua9pcGpwYflxMkm9HA4hkKW0lCQSDHE8AS_dOP2EowUuSg\",\"status\":\"done\"},\"data\":{\"buckets\":[]}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 10 Dec 2024 15:40:39 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}