{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"test-rum-5be7aad200899ffd\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/rum/applications"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"hash\":\"pub53e9a8788cac8b240efc0bfd17073059\",\"type\":\"ios\",\"name\":\"test-rum-5be7aad200899ffd\",\"tags\":[],\"created_at\":1733845240406,\"updated_at\":1733845240406,\"created_by_handle\":\"frog@datadoghq.com\",\"rum_enabled_at\":1733845240406,\"org_id\":321813,\"updated_by_handle\":\"frog@datadoghq.com\",\"product_analytics_disabled_at\":1733845240406,\"rum_enabled\":true,\"application_id\":\"2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4\",\"product_analytics_enabled_at\":1733845240406,\"rum_disabled_at\":0,\"product_analytics_enabled\":false,\"is_active\":false,\"client_token\":\"pub53e9a8788cac8b240efc0bfd17073059\"},\"id\":\"2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 10 Dec 2024 15:40:39 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/rum/applications/2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Tue, 10 Dec 2024 15:40:39 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}