{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"name\":\"test_name_create\",\"type\":\"browser\"},\"type\":\"rum_application_create\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/rum/applications"}, "response": {"body": {"string": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"cae2b3d1-9ea1-4321-8506-725cc4242f6f\",\"name\":\"test_name_create\",\"created_by_handle\":\"frog@datadoghq.com\",\"created_at\":1670264413962,\"org_id\":321813,\"updated_at\":1670264413962,\"is_active\":false,\"hash\":\"pub147f190fd98caeffebcb3bc3130879bf\",\"client_token\":\"pub147f190fd98caeffebcb3bc3130879bf\",\"type\":\"browser\"},\"type\":\"rum_application\",\"id\":\"cae2b3d1-9ea1-4321-8506-725cc4242f6f\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 05 Dec 2022 18:20:13 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/rum/applications/cae2b3d1-9ea1-4321-8506-725cc4242f6f"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Mon, 05 Dec 2022 18:20:13 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/rum/applications/cae2b3d1-9ea1-4321-8506-725cc4242f6f"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Mon, 05 Dec 2022 18:20:13 GMT"}], "recorded_with": "VCR 6.0.0"}