{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/rum/applications/abcd1234-0000-0000-abcd-1234abcd5678"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Application Not Found not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Tue, 10 Dec 2024 15:40:43 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}