{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/rum/events"
      },
      "response": {
        "body": {
          "string": "{\"data\":[],\"meta\":{\"elapsed\":10,\"request_id\":\"pddv1ChZhbnQxdm9hcVI0bWQ1TGJMVVpuNnBBIi4KHq_brdH-tDEYaWyFcAkXsE_Jfa5xAF1IlOPthQkkIxIMNS-Pl8rl8qYHwMar\",\"status\":\"done\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 10 Dec 2024 15:40:45 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}