{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"category\":\"alert\",\"content\":\"An incident has been declared. Please join the incident channel for updates.\",\"name\":\"Incident Alert Template\",\"subject\":\"Incident Alert\"},\"relationships\":{\"incident_type\":{\"data\":{\"id\":\"00000000-1111-2222-3333-444444444444\",\"type\":\"incident_types\"}}},\"type\":\"notification_templates\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/incidents/config/notification-templates"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"incident type not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 23 Feb 2026 14:06:36 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}