{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"5864bf8d69a3a3e5\"},\"type\":\"incident_types\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/incidents/config/types"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"6bffa77c-491c-42a6-bc83-30c49a657fce\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2024-10-24T15:24:42.956582093Z\",\"createdBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"\",\"is_default\":false,\"lastModifiedBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modifiedAt\":\"2024-10-24T15:24:42.956582093Z\",\"name\":\"5864bf8d69a3a3e5\",\"prefix\":\"IR\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Thu, 24 Oct 2024 15:24:42 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/incidents/config/types/6bffa77c-491c-42a6-bc83-30c49a657fce"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 24 Oct 2024 15:24:42 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/incidents/config/types/6bffa77c-491c-42a6-bc83-30c49a657fce"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 24 Oct 2024 15:24:42 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}