{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"7a71352d63ea9891\"},\"type\":\"incident_types\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/incidents/config/types"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"54ee8a4c-591e-48eb-8207-c12ad57617a9\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2024-10-24T16:03:10.596580603Z\",\"createdBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"\",\"is_default\":false,\"lastModifiedBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modifiedAt\":\"2024-10-24T16:03:10.596580603Z\",\"name\":\"7a71352d63ea9891\",\"prefix\":\"IR\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Thu, 24 Oct 2024 16:03:10 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"7a71352d63ea9891-updated\"},\"id\":\"54ee8a4c-591e-48eb-8207-c12ad57617a9\",\"type\":\"incident_types\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/incidents/config/types/54ee8a4c-591e-48eb-8207-c12ad57617a9"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"54ee8a4c-591e-48eb-8207-c12ad57617a9\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2024-10-24T16:03:10.596581Z\",\"createdBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"\",\"is_default\":false,\"lastModifiedBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modifiedAt\":\"2024-10-24T16:03:10.974980567Z\",\"name\":\"7a71352d63ea9891-updated\",\"prefix\":\"IR\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 24 Oct 2024 16:03:10 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/incidents/config/types/54ee8a4c-591e-48eb-8207-c12ad57617a9"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 24 Oct 2024 16:03:10 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}