{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/cost/azure_uc_config/invalid"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"cloudAccountId\\\" in \\\"path\\\"; expected type \\\"int64\\\"\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 08 Aug 2025 20:08:41 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}