{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/cost/custom_costs?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-created_at"
      },
      "response": {
        "body": {
          "string": "{\"data\":[],\"meta\":{\"version\":\"1.0\",\"total_filtered_count\":1}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 08 Aug 2025 20:11:43 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}