{"http_interactions": [{"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/cost/aws_related_accounts?filter%5Bmanagement_account_id%5D=123456789123"}, "response": {"body": {"string": "{\"data\": [{\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": true}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": true}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": true}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Tue, 12 Dec 2023 14:56:29 GMT"}], "recorded_with": "VCR 6.0.0"}