{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/cost/custom_costs"
      },
      "response": {
        "body": {
          "string": "{\"data\":[{\"id\":\"9d055d22-a838-4e9f-bc34-a4f9ab66280c\",\"type\":\"cost_metadata\",\"attributes\":{\"billed_cost\":250,\"billing_currency\":\"USD\",\"charge_period\":{\"start\":1683331200000,\"end\":1686009600000},\"name\":\"data.json\",\"provider_names\":[\"my_provider\"],\"status\":\"ACTIVE\",\"uploaded_at\":1721322924169,\"uploaded_by\":{\"name\":\"Julien Hemery\",\"icon\":\"https://secure.gravatar.com/avatar/f12684c6ebe1bdd70c36789c5270aac0?d=retro\\u0026s=48\",\"email\":\"julien.hemery@datadoghq.com\"}}}],\"meta\":{\"version\":\"1.0\",\"total_filtered_count\":766}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 22 Jul 2024 12:06:38 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}