{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/cost/gcp_uc_config"
      },
      "response": {
        "body": {
          "string": "{\"data\":[]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 23 Jun 2025 13:07:11 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}