[package]
authors = ["support@datadoghq.com"]
categories = [
    "api-bindings",
    "config",
    "web-programming::http-client"
]
description = "Rust client for the Datadog API."
edition = "2021"
include = [
    "/build.rs",
    "/Cargo.toml",
    "/LICENSE-3rdparty.csv",
    "/LICENSE",
    "/NOTICE",
    "/README.md",
    "/src/**/*",
    "/examples/*",
]
keywords = [
    "datadog",
    "api",
    "client",
    "openapi"
]
license = "Apache-2.0"
name = "datadog-api-client"
readme = "README.md"
repository = "https://github.com/DataDog/datadog-api-client-rust"
version = "0.27.0"

[dependencies]
async-stream = "0.3.5"
async-trait = "0.1"
task-local-extensions = "0.1"
chrono = {version = "0.4.31", features = ["serde"] }
flate2 = "1.0.28"
form-data-builder = "1.0.1"
futures-core = "0.3.30"
lazy_static = "1.4.0"
log = "0.4.20"
reqwest = { version = "0.11.24", features = ["multipart"], default-features = false }
reqwest-middleware = "0.2.5"
reqwest-retry = "0.3.0"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
serde_with = "3.6.1"
url = "2.5.0"
uuid = { version = "1.8.0", features = ["v4", "fast-rng", "macro-diagnostics", "serde"] }
zstd = "0.13.0"

[build-dependencies]
rustc_version = "0.4.0"

[dev-dependencies]
chrono = "0.4.31"
convert_case = "0.6.0"
cucumber = "0.20.2"
env_logger = "0.10.0"
futures = "0.3.28"
futures-util = "0.3.30"
minijinja = "1.0.10"
regex = "1.9.5"
rvcr = { git = "https://github.com/nkzou/rvcr.git", rev = "cb6911dcd05300a95647ed915b94645679fd80eb" }
sha256 = "1.4.0"
tokio = { version = "1.10", features = ["macros", "rt-multi-thread", "time"] }
urlencoding = "2.1.3"
vcr-cassette = "2.0.1"

[[test]]
harness = false # allows Cucumber to print output instead of libtest
name = "main"
path = "tests/main.rs"

[[example]] # signal to Cargo that dev-dependencies are allowed for examples
doc-scrape-examples = true
name="v1_authentication_Validate"

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

[features]
default = ["native-tls"]
native-tls = ["reqwest/native-tls"]
rustls-tls = ["reqwest/rustls-tls-webpki-roots"]
