{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/downtime/INVALID_UUID_LENGTH"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Invalid URL param: downtime_id must be an uuid\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 25 May 2023 20:24:19 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}