{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/monitor/35534610/downtime_matches"
      },
      "response": {
        "body": {
          "string": "{\"data\":[{\"type\":\"downtime_match\",\"id\":\"aeefc6a8-15d8-11ee-a8ef-da7ad0900002\",\"attributes\":{\"groups\":[\"*\"],\"scope\":\"*\",\"start\":\"2023-06-28T17:23:57.324000+00:00\",\"end\":null}}],\"meta\":{\"page\":{\"total_filtered_count\":1}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 28 Jun 2023 17:25:38 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}