{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"start\":null},\"scope\":\"BAD_SCOPE_MISSING_KEY_VALUE_FORMAT\"},\"type\":\"downtime\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/downtime"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"All values must have a key\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 02 Jun 2023 20:53:25 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}