{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"incident_id\":2609}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v1/security_analytics/signals/AQAAAYDiB_Ol8PbzFAAAAABBWURpQl9PbEFBQU0yeXhGTG9ZV2JnQUE/add_to_incident"
      },
      "response": {
        "body": {
          "string": "{\"status\":\"done\",\"elapsed\":4,\"hitCount\":1,\"type\":\"status\",\"requestId\":\"pddv1ChZVSG9rS0xiLVROR0UzaExkSVRnaTZBIisKG6tMRhR9fRc0eaDfripyLqgONwbpcw5WGKATXBIMaeO6PoTCinH6lG0J\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 20 May 2022 15:17:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}