{"http_interactions": [{"request": {"body": {"string": "{\"archiveReason\":\"none\",\"state\":\"open\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v1/security_analytics/signals/AQAAAYDiB_Ol8PbzFAAAAABBWURpQl9PbEFBQU0yeXhGTG9ZV2JnQUE/state"}, "response": {"body": {"string": "{\"status\":\"done\",\"elapsed\":6,\"hitCount\":1,\"type\":\"status\",\"requestId\":\"pddv1ChZsZTVoQTlZUlRCMmZIaVp6QmtSb1FRIi0KHTZc_OyWqjtN77Y9KyBimz5OCepk1bY1rIo4vE37Egx-rD3hrV23n4SU9ds\"}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Fri, 20 May 2022 15:18:37 GMT"}], "recorded_with": "VCR 6.0.0"}