{"http_interactions": [{"request": {"body": {"string": "{\"assignee\":\"773b045d-ccf8-4808-bd3b-955ef6a8c940\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v1/security_analytics/signals/AQAAAYDiB_Ol8PbzFAAAAABBWURpQl9PbEFBQU0yeXhGTG9ZV2JnQUE/assignee"}, "response": {"body": {"string": "{\"status\":\"done\",\"elapsed\":4,\"hitCount\":1,\"type\":\"status\",\"requestId\":\"pddv1ChZSZEFGOVVCR1NEMmk4V2xsUnlsLVdBIiwKHO4N7zMgBuJVPFh9vBniHGgyfw7UoOk5ULtgX2cSDMZkxtW2dY1nP5am-Q\"}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Fri, 20 May 2022 15:18:23 GMT"}], "recorded_with": "VCR 6.0.0"}