{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"on_demand_concurrency_cap\":20}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/synthetics/settings/on_demand_concurrency_cap"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"on_demand_concurrency_cap\",\"attributes\":{\"on_demand_concurrency_cap\":20}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 16 Oct 2023 14:58:02 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}