{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"filter\":{\"from\":\"now-15m\",\"query\":\"@ci.provider.name:github AND @ci.status:error\",\"to\":\"now\"},\"options\":{\"timezone\":\"GMT\"},\"page\":{\"limit\":5},\"sort\":\"timestamp\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/ci/pipelines/events/search"
      },
      "response": {
        "body": {
          "string": "{\"data\":[],\"meta\":{\"elapsed\":20,\"request_id\":\"pddv1ChZSTVpjd2Q0MlI2LVVBNjVTYlhFUThBIi0KHQuJgBOuQyr2rULJokHKzwf2zKDYmaOmEm5TrJuvEgyvH4LB-7WWiTQznlw\",\"status\":\"done\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 25 Nov 2024 20:08:40 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}