{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"},\"type\":\"case_type\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/cases/types"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"fdf93265-be3d-4a97-ae0d-540b049f7753\",\"type\":\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Thu, 21 Aug 2025 12:41:46 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"description\":\"And its brand new description\",\"display_name\":\"Attribute 17557801-0000-0000-0000-175578010600\",\"is_multi\":true,\"key\":\"attribute_a058b510f096c932\",\"type\":\"TEXT\"},\"type\":\"custom_attribute\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/cases/types/fdf93265-be3d-4a97-ae0d-540b049f7753/custom_attributes"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"7ce13520-94b7-4391-bb64-c45776011f05\",\"type\":\"custom_attribute\",\"attributes\":{\"case_type\":\"TUNKNOWN\",\"case_type_id\":\"fdf93265-be3d-4a97-ae0d-540b049f7753\",\"description\":\"And its brand new description\",\"display_name\":\"Attribute 17557801-0000-0000-0000-175578010600\",\"is_multi\":true,\"key\":\"attribute_a058b510f096c932\",\"type\":\"TEXT\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Thu, 21 Aug 2025 12:41:46 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/cases/types/fdf93265-be3d-4a97-ae0d-540b049f7753/custom_attributes/7ce13520-94b7-4391-bb64-c45776011f05"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 21 Aug 2025 12:41:46 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/cases/types/fdf93265-be3d-4a97-ae0d-540b049f7753"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 21 Aug 2025 12:41:46 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}