{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/non-existent-rule-id"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"failed to delete rule\"}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Tue, 01 Apr 2025 14:30:52 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}