{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/non-existent-policy-id"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"failed to delete policy\"}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 16 Oct 2025 16:03:00 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}