{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datad0g.com/api/v2/remote_config/products/cws/policy/non-existent-policy"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Not Found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 27 Mar 2025 09:35:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}