{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/abc-def-ghi"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"not_found(Agent rule not found: agentRuleId=abc-def-ghi)\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Fri, 10 Oct 2025 15:21:08 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}