{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"description\":\"My agent policy\",\"enabled\":true,\"hostTags\":[],\"name\":\"my_agent_policy\"},\"id\":\"non-existent-policy-id\",\"type\":\"policy\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/non-existent-policy-id"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"failed to update policy\"}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 15 May 2025 11:49:39 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}