{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"5m\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"now-15m\",\"indexes\":[\"main\"],\"query\":\"*\",\"to\":\"now\"},\"group_by\":[{\"facet\":\"host\",\"missing\":\"miss\",\"sort\":{\"aggregation\":\"pc90\",\"metric\":\"@duration\",\"order\":\"asc\",\"type\":\"measure\"}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
      },
      "response": {
        "body": {
          "string": "{\"meta\":{\"elapsed\":15,\"request_id\":\"pddv1ChZJZHpESXZreVRVU04ySjMwN1ZGU3JBIi0KHTpQ7N734J4KLzWgxOSfJsxi4hmH9Zp7S5bcjVbKEgw7sLHsv3QXsmnc0-k\",\"status\":\"done\"},\"data\":{\"buckets\":[]}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 01 Oct 2024 15:36:42 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}