{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"5m\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"now-15m\",\"indexes\":[\"main\"],\"query\":\"*\",\"to\":\"now\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
      },
      "response": {
        "body": {
          "string": "{\"meta\":{\"elapsed\":165,\"request_id\":\"pddv1ChY3VUd0WGZFS1IzNkpzaENGMDQ5dVlRIi0KHQwfsxs3-LlbabIdJPhP3_aSOsxZS1WRUrEaBffcEgxNrSsbB0hv7ccJCGk\",\"status\":\"done\"},\"data\":{\"buckets\":[]}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 01 Oct 2024 15:36:42 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}