{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"filter\":{\"from\":\"now-15m\",\"indexes\":[\"main\"],\"query\":\"*\",\"to\":\"now\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
      },
      "response": {
        "body": {
          "string": "{\"meta\":{\"elapsed\":10,\"request_id\":\"pddv1ChZNTFhDRTJTelQycXp1QXdlX1NmTlpRIi0KHe-ilFcY0rnsNmMKsu8hd-YRCNigxxg3E_n1PmI9EgxGTh_nEXTFJyr3H54\",\"status\":\"done\"},\"data\":{\"buckets\":[]}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 01 Oct 2024 15:36:43 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}