{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {},
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/logs/events?filter%5Bfrom%5D=2020-09-17T10%3A48%3A36.000Z&filter%5Bindexes%5D=main&filter%5Bquery%5D=datadog-agent&filter%5Bto%5D=2020-09-17T11%3A48%3A36.000Z&page%5Blimit%5D=5"
      },
      "response": {
        "body": {
          "string": "{\"data\":[],\"meta\":{\"elapsed\":0,\"request_id\":\"pddv1ChZnUldBVG01WlRMU2Q0d2xmaG1NWG1BIiwKHFtksVd_gLLg8oGdAfyjZkpusj-6_bbNxRpOSeoSDCx7sBKmq-5VxGtliw\",\"status\":\"done\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 01 Oct 2024 15:36:43 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}
