{"http_interactions": [{"request": {"body": {"string": "{\"name\":\"Test-Create_an_SLO_object_returns_Bad_Request_response-1641430270\",\"thresholds\":[{\"target\":95,\"target_display\":\"95.0\",\"timeframe\":\"7d\",\"warning\":98,\"warning_display\":\"98.0\"}],\"type\":\"monitor\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/slo"}, "response": {"body": {"string": "{\"errors\":[\"Invalid payload: must specify monitor_ids\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 400, "message": "Bad Request"}}, "recorded_at": "Thu, 06 Jan 2022 00:51:10 GMT"}], "recorded_with": "VCR 6.0.0"}