{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"name\":\"Test-Create_an_SLO_object_returns_Bad_Request_response-1704322485\",\"thresholds\":[{\"target\":95,\"target_display\":\"95.0\",\"timeframe\":\"7d\",\"warning\":98,\"warning_display\":\"98.0\"}],\"type\":\"monitor\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v1/slo"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Invalid payload: must specify monitor_ids\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 03 Jan 2024 22:54:45 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}