{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v1/slo/testdeleteansloreturnsnotfoundresponse1704322485"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"SLO not found: testdeleteansloreturnsnotfoundresponse1704322485 not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 03 Jan 2024 22:54:45 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}