{"http_interactions": [{"request": {"body": {"string": "{\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1641430272\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/slo"}, "response": {"body": {"string": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98,\"warning_display\":\"98.\",\"target\":95,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"f21337f0ea7059f986448228aaa11f09\",\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1641430272\",\"created_at\":1641430273,\"tags\":[],\"modified_at\":1641430273,\"type\":\"metric\"}],\"error\":null}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 06 Jan 2022 00:51:12 GMT"}, {"request": {"body": {"string": "{\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1641430272\",\"thresholds\":[{\"target\":95,\"target_display\":\"95.0\",\"timeframe\":\"7d\",\"warning\":98,\"warning_display\":\"98.0\"}],\"type\":\"monitor\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "put", "uri": "https://api.datadoghq.com/api/v1/slo/f21337f0ea7059f986448228aaa11f09"}, "response": {"body": {"string": "{\"errors\":[\"Invalid payload: must specify the query for count types\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 400, "message": "Bad Request"}}, "recorded_at": "Thu, 06 Jan 2022 00:51:12 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v1/slo/f21337f0ea7059f986448228aaa11f09"}, "response": {"body": {"string": "{\"data\":[\"f21337f0ea7059f986448228aaa11f09\"],\"error\":null}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 06 Jan 2022 00:51:12 GMT"}], "recorded_with": "VCR 6.0.0"}