{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1704322489\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v1/slo"
      },
      "response": {
        "body": {
          "string": "{\"data\":[{\"id\":\"9000070725e15b55a16fa1b2bcd1909c\",\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1704322489\",\"tags\":[],\"monitor_tags\":[],\"thresholds\":[{\"timeframe\":\"7d\",\"target\":95.0,\"target_display\":\"95.\",\"warning\":98.0,\"warning_display\":\"98.\"}],\"type\":\"metric\",\"type_id\":1,\"description\":\"\",\"timeframe\":\"7d\",\"warning_threshold\":98,\"target_threshold\":95,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"created_at\":1704322489,\"modified_at\":1704322489}],\"error\":null}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 03 Jan 2024 22:54:49 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1704322489\",\"thresholds\":[{\"target\":95,\"target_display\":\"95.0\",\"timeframe\":\"7d\",\"warning\":98,\"warning_display\":\"98.0\"}],\"type\":\"monitor\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v1/slo/9000070725e15b55a16fa1b2bcd1909c"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Invalid payload: must specify the query for count types\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 03 Jan 2024 22:54:49 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v1/slo/9000070725e15b55a16fa1b2bcd1909c"
      },
      "response": {
        "body": {
          "string": "{\"data\":[\"9000070725e15b55a16fa1b2bcd1909c\"],\"error\":null}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 03 Jan 2024 22:54:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}