{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/remote_config/products/rum/configs/aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Forbidden\"}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ]
        },
        "status": {
          "code": 403,
          "message": "Forbidden"
        }
      },
      "recorded_at": "Wed, 17 Jun 2026 12:36:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}