{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"rum\":{\"default_privacy_level\":\"mask\",\"enable_privacy_for_action_name\":true,\"session_replay_sample_rate\":20,\"session_sample_rate\":75}},\"id\":\"aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa\",\"type\":\"rum_sdk_config\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/remote_config/products/rum/configs/aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Forbidden\"}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ]
        },
        "status": {
          "code": 403,
          "message": "Forbidden"
        }
      },
      "recorded_at": "Wed, 17 Jun 2026 12:36:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}