{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/actions/app_key_registrations"
      },
      "response": {
        "body": {
          "string": "{\"data\":[{\"id\":\"b7feea52-994e-4714-a100-1bd9eff5aee1\",\"type\":\"app_key_registration\"}],\"meta\":{\"total\":1,\"total_filtered\":1}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 13 Jun 2025 18:04:07 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}