{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/actions/app_key_registrations/57cc69ae-9214-4ecc-8df8-43ecc1d92d99"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"detail\":\"app key not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Fri, 13 Jun 2025 18:04:07 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}