{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"app not found\",\"detail\":\"app not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 09 Jan 2025 20:40:37 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}