{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":[{\"id\":\"aea2ed17-b45f-40d0-ba59-c86b7972c901\",\"type\":\"appDefinitions\"},{\"id\":\"f69bb8be-6168-4fe7-a30d-370256b6504a\",\"type\":\"appDefinitions\"},{\"id\":\"ab1ed73e-13ad-4426-b0df-a0ff8876a088\",\"type\":\"appDefinitions\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/app-builder/apps"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"one or more apps not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 30 Jan 2025 22:30:42 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}