{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"selfService\":true},\"type\":\"selfService\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/self-service"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"id\":\"623c417b-ba6a-4952-8d3c-1d90edaf3166\",\"title\":\"app not found\",\"detail\":\"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 18 May 2026 19:52:06 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}