{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":false,\"path\":\"@duration\"},\"filter\":{\"query\":\"source:Test-Update_a_span_based_metric_returns_OK_response-1686139559\"},\"group_by\":[{\"path\":\"resource_name\",\"tag_name\":\"resource_name\"}]},\"id\":\"Test-Update_a_span_based_metric_returns_OK_response-1686139559\",\"type\":\"spans_metrics\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/metrics"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"Test_Update_a_span_based_metric_returns_OK_response_1686139559\",\"attributes\":{\"filter\":{\"query\":\"source:Test-Update_a_span_based_metric_returns_OK_response-1686139559\"},\"group_by\":[{\"path\":\"resource_name\",\"tag_name\":\"resource_name\"}],\"compute\":{\"aggregation_type\":\"distribution\",\"path\":\"@duration\",\"include_percentiles\":false}},\"type\":\"spans_metrics\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 07 Jun 2023 12:05:59 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"compute\":{\"include_percentiles\":false},\"filter\":{\"query\":\"source:Test-Update_a_span_based_metric_returns_OK_response-1686139559-updated\"},\"group_by\":[{\"path\":\"resource_name\",\"tag_name\":\"resource_name\"}]},\"type\":\"spans_metrics\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/metrics/Test_Update_a_span_based_metric_returns_OK_response_1686139559"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"Test_Update_a_span_based_metric_returns_OK_response_1686139559\",\"attributes\":{\"filter\":{\"query\":\"source:Test-Update_a_span_based_metric_returns_OK_response-1686139559-updated\"},\"group_by\":[{\"path\":\"resource_name\",\"tag_name\":\"resource_name\"}],\"compute\":{\"aggregation_type\":\"distribution\",\"path\":\"@duration\",\"include_percentiles\":false}},\"type\":\"spans_metrics\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 07 Jun 2023 12:05:59 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/metrics/Test_Update_a_span_based_metric_returns_OK_response_1686139559"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Wed, 07 Jun 2023 12:05:59 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}