{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"api_key\":\"fakekey\",\"email\":\"new@email\",\"name\":\"testaddcloudflareaccountreturnscreatedresponse1674730464\"},\"type\":\"cloudflare-accounts\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"}, "response": {"body": {"string": "{\"data\":{\"attributes\":{\"email\":\"new@email\",\"name\":\"testaddcloudflareaccountreturnscreatedresponse1674730464\"},\"type\":\"cloudflare-accounts\",\"id\":\"328432a98957fd7bcba6f70daea72519\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Thu, 26 Jan 2023 10:54:24 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/328432a98957fd7bcba6f70daea72519"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Thu, 26 Jan 2023 10:54:24 GMT"}], "recorded_with": "VCR 6.0.0"}