{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"api_key\":\"fakekey\",\"name\":\"testaddcloudflareaccountreturnsbadrequestresponseduetomissingemail1704393640\"},\"type\":\"cloudflare-accounts\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"{'_schema': ['Email address is required if providing an api key and not an api token.']}\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 04 Jan 2024 18:40:40 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}