{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/permanent_retention_filters/default_synthetics"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"default_synthetics\",\"type\":\"permanent_retention_filters\",\"attributes\":{\"name\":\"Default Synthetics\",\"event_type\":\"session\",\"query\":\"@type:browser\",\"sample_rate\":100,\"enabled\":true,\"cross_product_sampling\":{\"trace_sample_rate\":100},\"cross_product_sampling_editability\":{\"trace_sample_rate\":true}}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 29 Apr 2026 17:04:30 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}