{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"filter\":{\"query\":\"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962\"}},\"id\":\"Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962\",\"type\":\"logs_metrics\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/logs/config/metrics"}, "response": {"body": {"string": "{\"data\":{\"id\":\"Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962\",\"attributes\":{\"filter\":{\"query\":\"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962\"},\"group_by\":[],\"compute\":{\"aggregation_type\":\"distribution\",\"path\":\"@duration\",\"include_percentiles\":true}},\"type\":\"logs_metrics\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Wed, 07 Jun 2023 11:56:02 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"compute\":{\"include_percentiles\":false}},\"type\":\"logs_metrics\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962"}, "response": {"body": {"string": "{\"data\":{\"id\":\"Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962\",\"attributes\":{\"filter\":{\"query\":\"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962\"},\"group_by\":[],\"compute\":{\"aggregation_type\":\"distribution\",\"path\":\"@duration\",\"include_percentiles\":false}},\"type\":\"logs_metrics\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Wed, 07 Jun 2023 11:56:02 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Wed, 07 Jun 2023 11:56:02 GMT"}], "recorded_with": "VCR 6.0.0"}