{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v1/usage/ingested-spans?start_hr=2022-01-28T09%3A34%3A33.304Z&end_hr=2022-01-26T09%3A34%3A33.304Z"
      },
      "response": {
        "body": {
          "string": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 31 Jan 2022 09:34:33 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}