{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v1/usage/top_avg_metrics"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"The parameter 'month/day' is required\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 12 May 2025 11:35:28 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}