{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v1/usage/logs?start_hr=2022-03-29T15%3A43%3A39.812Z&end_hr=2022-03-27T15%3A43%3A39.812Z"
      },
      "response": {
        "body": {
          "string": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 01 Apr 2022 15:43:39 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}