{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v1/usage/profiling?start_hr=2025-05-09T11%3A36%3A03.392Z&end_hr=2025-05-07T11%3A36%3A03.392Z"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 12 May 2025 11:36:03 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}