{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"Test Environment Test-Create_an_environment_returns_Created_response-1773768383\",\"queries\":[\"test-Test-Create_an_environment_returns_Created_response-1773768383\",\"env-Test-Create_an_environment_returns_Created_response-1773768383\"]},\"type\":\"environments\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/feature-flags/environments"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"b7fd5cfe-3350-4db5-9731-1702b2fc9ab7\",\"type\":\"environments\",\"attributes\":{\"is_production\":false,\"name\":\"Test Environment Test-Create_an_environment_returns_Created_response-1773768383\",\"queries\":[\"test-Test-Create_an_environment_returns_Created_response-1773768383\",\"env-Test-Create_an_environment_returns_Created_response-1773768383\"],\"require_feature_flag_approval\":false}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Tue, 17 Mar 2026 17:26:23 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/feature-flags/environments/b7fd5cfe-3350-4db5-9731-1702b2fc9ab7"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Tue, 17 Mar 2026 17:26:23 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}