{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_workflow_webhook_handle_returns_CREATED_response-1748457950\",\"url\":\"https://example.logic.azure.com/workflows/123\"},\"type\":\"workflows-webhook-handle\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"6207c675-cdc3-4cd4-903a-e7a6a3fbac0d\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Create_workflow_webhook_handle_returns_CREATED_response-1748457950\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Wed, 28 May 2025 18:45:50 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/6207c675-cdc3-4cd4-903a-e7a6a3fbac0d"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Wed, 28 May 2025 18:45:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}