{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_workflow_webhook_handle_information_returns_OK_response-1748457951\",\"url\":\"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234\"},\"type\":\"workflows-webhook-handle\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"ac10e097-66cf-4ab3-8659-a6f6c413d51b\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Get_workflow_webhook_handle_information_returns_OK_response-1748457951\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Wed, 28 May 2025 18:45:51 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/ac10e097-66cf-4ab3-8659-a6f6c413d51b"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"ac10e097-66cf-4ab3-8659-a6f6c413d51b\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Get_workflow_webhook_handle_information_returns_OK_response-1748457951\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 28 May 2025 18:45:51 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/ac10e097-66cf-4ab3-8659-a6f6c413d51b"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Wed, 28 May 2025 18:45:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}