{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/events?filter%5Bquery%5D=datadog-agent&filter%5Bfrom%5D=2020-09-17T11%3A48%3A36%2B01%3A00&filter%5Bto%5D=2020-09-17T12%3A48%3A36%2B01%3A00&page%5Blimit%5D=5"
      },
      "response": {
        "body": {
          "string": "{\"data\":[]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 20 Jun 2022 12:31:31 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}