{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"filter\":{\"from\":\"now-15m\",\"query\":\"service:web* AND @http.status_code:[200 TO 299]\",\"to\":\"now\"},\"options\":{\"timezone\":\"GMT\"},\"page\":{\"cursor\":\"eyJzdGFydEF0IjoiQVFBQUFYS2tMS3pPbm40NGV3QUFBQUJCV0V0clRFdDZVbG8zY3pCRmNsbHJiVmxDWlEifQ==\",\"limit\":25},\"sort\":\"timestamp\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/events/search"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"{'errors': [u\\\"input_validation_error(Field 'page' is invalid: invalid cursor)\\\"]}\"]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 20 Jun 2022 13:43:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}