{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/monitor/policy/INVALID_UUID"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Invalid URL param: policy_id must be an uuid\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 29 May 2025 02:36:16 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}