{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"policy\":{\"tag_key\":\"testdeleteamonitorconfigurationpolicyreturnsokresponse1748486176\",\"tag_key_required\":false,\"valid_tag_values\":[\"prod\",\"staging\"]},\"policy_type\":\"tag\"},\"type\":\"monitor-config-policy\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/monitor/policy"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"monitor-config-policy\",\"attributes\":{\"policy_type\":\"tag\",\"policy\":{\"tag_key\":\"testdeleteamonitorconfigurationpolicyreturnsokresponse1748486176\",\"valid_tag_values\":[\"prod\",\"staging\"],\"tag_key_required\":false}},\"id\":\"f0b1ee92-9635-45ed-8a18-a1631a8397d2\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 29 May 2025 02:36:16 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/monitor/policy/f0b1ee92-9635-45ed-8a18-a1631a8397d2"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 29 May 2025 02:36:16 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/monitor/policy/f0b1ee92-9635-45ed-8a18-a1631a8397d2"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Monitor config policy not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 29 May 2025 02:36:16 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}