{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/monitor/notification_rule/00000000-0000-1234-0000-000000000000"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Monitor Notification Rule not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 29 May 2025 02:36:19 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}