{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"description\":\"A description.\",\"monitor_definition\":{\"message\":\"A msg.\",\"name\":\"A name test-update_a_monitor_user_template_to_a_new_version_returns_not_found_response-1748486183\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"integration:Azure\"],\"template_variables\":[{\"available_values\":[\"value1\",\"value2\"],\"defaults\":[\"defaultValue\"],\"name\":\"regionName\",\"tag_key\":\"datacenter\"}],\"title\":\"Postgres DB test-update_a_monitor_user_template_to_a_new_version_returns_not_found_response-1748486183\"},\"id\":\"00000000-0000-1234-0000-000000000000\",\"type\":\"monitor-user-template\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/monitor/template/00000000-0000-1234-0000-000000000000"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Monitor template not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 29 May 2025 02:36:23 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}