{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_all_service_objects_returns_OK_response-1655132328\",\"opsgenie_api_key\":\"00000000-0000-0000-0000-000000000000\",\"region\":\"us\"},\"type\":\"opsgenie-service\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/opsgenie/services"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"region\":\"us\",\"name\":\"Test-Get_all_service_objects_returns_OK_response-1655132328\",\"custom_url\":null},\"type\":\"opsgenie-service\",\"id\":\"337861b6-ed46-4c66-b4a0-32d7a4ba94b9\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 13 Jun 2022 14:58:48 GMT"
    },
[...]
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/integration/opsgenie/services/337861b6-ed46-4c66-b4a0-32d7a4ba94b9"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 13 Jun 2022 14:58:48 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}