{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_single_service_object_returns_OK_response-1654804626\",\"opsgenie_api_key\":\"00000000-0000-0000-0000-000000000000\",\"region\":\"us\"},\"type\":\"opsgenie-service\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/opsgenie/services"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"region\":\"us\",\"name\":\"Test-Update_a_single_service_object_returns_OK_response-1654804626\",\"custom_url\":null},\"type\":\"opsgenie-service\",\"id\":\"0b04ddfb-b00a-4243-baed-33ff1bff0909\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Thu, 09 Jun 2022 19:57:06 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_single_service_object_returns_OK_response-1654804626--updated\",\"opsgenie_api_key\":\"00000000-0000-0000-0000-000000000000\",\"region\":\"eu\"},\"id\":\"0b04ddfb-b00a-4243-baed-33ff1bff0909\",\"type\":\"opsgenie-service\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/integration/opsgenie/services/0b04ddfb-b00a-4243-baed-33ff1bff0909"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"region\":\"eu\",\"name\":\"Test-Update_a_single_service_object_returns_OK_response-1654804626--updated\",\"custom_url\":null},\"type\":\"opsgenie-service\",\"id\":\"0b04ddfb-b00a-4243-baed-33ff1bff0909\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 09 Jun 2022 19:57:06 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/integration/opsgenie/services/0b04ddfb-b00a-4243-baed-33ff1bff0909"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 09 Jun 2022 19:57:06 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}