{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/unknown"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"id not found\",\"code\":\"404\"}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Tue, 25 Feb 2025 21:02:08 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}