{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/org_connections/malformed_id"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"connection id must be a valid uuid\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Tue, 26 Aug 2025 20:19:36 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}