{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/cost_by_tag/monthly_cost_attribution?start_month=2023-11-11T19%3A41%3A02.013Z&end_month=2023-11-13T19%3A41%3A02.013Z&fields=not_a_product"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"API called with non-parent org keys. Data is only available at the root level org\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 16 Nov 2023 19:41:02 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}