{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {},
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/cost_by_tag/monthly_cost_attribution?end_month=2023-11-13T19%3A43%3A19.607Z&fields=infra_host_total_cost&start_month=2023-11-11T19%3A43%3A19.607Z"
      },
      "response": {
        "body": {
          "string": "{\"data\":[]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 16 Nov 2023 19:43:19 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}
