{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/usage/estimated_cost?view=sub-org&start_month=2025-05-12T12%3A32%3A55.283Z&start_date=2025-05-09T12%3A32%3A55.283Z"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"API called with non-parent org keys. Data is only available at the root level org\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 12 May 2025 12:32:55 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}