{"http_interactions": [{"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/usage/estimated_cost?view=sub-org&start_month=2022-11-03T21%3A08%3A41.229Z&start_date=2022-10-31T21%3A08%3A41.229Z"}, "response": {"body": {"string": "{\"errors\":[\"API called with non-parent org keys. Data is only available at the root level org\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 400, "message": "Bad Request"}}, "recorded_at": "Thu, 03 Nov 2022 21:08:41 GMT"}], "recorded_with": "VCR 6.0.0"}