{"http_interactions": [{"request": {"body": {"string": "{\"app_service_plan_filters\":\"key:value,filter:example\",\"automute\":true,\"client_id\":\"17026645-0000-0000-0000-170266451500\",\"client_secret\":\"testingx./Sw*g/Y33t..R1cH+hScMDt\",\"container_app_filters\":\"key:value,filter:example\",\"cspm_enabled\":true,\"custom_metrics_enabled\":true,\"errors\":[\"*\"],\"host_filters\":\"key:value,filter:example\",\"new_client_id\":\"17026645-0000-0000-0000-170266451500\",\"new_tenant_name\":\"17026645-0000-0000-0000-170266451500\",\"resource_collection_enabled\":true,\"tenant_name\":\"17026645-0000-0000-0000-170266451500\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/integration/azure"}, "response": {"body": {"string": "{}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Fri, 15 Dec 2023 18:21:55 GMT"}, {"request": {"body": {"string": "{\"client_id\":\"17026645-0000-0000-0000-170266451500\",\"tenant_name\":\"17026645-0000-0000-0000-170266451500\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "delete", "uri": "https://api.datadoghq.com/api/v1/integration/azure"}, "response": {"body": {"string": "{}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Fri, 15 Dec 2023 18:21:55 GMT"}], "recorded_with": "VCR 6.0.0"}