{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/app-builder/apps/invalid-uuid/deployment"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"detail\":\"invalid path parameter\",\"source\":{\"parameter\":\"appId\"}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 20 Dec 2024 20:39:20 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}