{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/aws/generate_new_external_id"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"external_id\",\"type\":\"external_id\",\"attributes\":{\"external_id\":\"46c7ca9418564d478f52b94479b3aae2\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 28 Oct 2024 14:43:05 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}