{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/integration/aws/accounts/not-a-uuid"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"aws_account_config_id\\\" in \\\"path\\\"; expected type \\\"uuid\\\"\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 06 Nov 2024 18:44:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}