{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/integration/aws/accounts/b2087a32-4d4f-45b1-9321-1a0a48e9d7cf/ccm_config"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 23 Feb 2026 18:02:25 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}