{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/aws/generate_new_external_id"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"external_id\",\"type\":\"external_id\",\"attributes\":{\"external_id\":\"96fc79a77c474e4f863a3c227fb91fef\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 06 Nov 2024 18:44:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}