{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/aws/generate_new_external_id"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"b6ec0b8a9ddf478e98b0134747bab2c5\",\"type\":\"external_id\",\"attributes\":{\"external_id\":\"b6ec0b8a9ddf478e98b0134747bab2c5\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 06 Aug 2025 17:41:47 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}