{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/aws/generate_new_external_id"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"417e89773bab4d459dc060836ee276be\",\"type\":\"external_id\",\"attributes\":{\"external_id\":\"417e89773bab4d459dc060836ee276be\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 14 Nov 2024 20:08:02 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}