{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/aws/generate_new_external_id"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"78feee6b9c374776888068593fa8c0b9\",\"type\":\"external_id\",\"attributes\":{\"external_id\":\"78feee6b9c374776888068593fa8c0b9\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 06 Nov 2024 18:44:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}