{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/workflows/ccf73164-1998-4785-a7a3-8d06c7e5f558/instances/305a472b-71ab-4ce8-8f8d-75db635627b5/cancel"
      },
      "response": {
        "body": {
          "string": "{}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 24 Jul 2024 18:39:57 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}