{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"meta\":{\"payload\":{\"input\":\"value\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/workflows/ccf73164-1998-4785-a7a3-8d06c7e5f558/instances"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"attributes\":{},\"id\":\"111e18d6-3f19-4ada-91d3-ab1e1546b8b4\",\"type\":\"instances\"},\"meta\":{\"workflowId\":\"ccf73164-1998-4785-a7a3-8d06c7e5f558\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 24 Jul 2024 18:39:58 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}