{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"Cassette Workflow DELETE\",\"spec\":{\"steps\":[],\"triggers\":[{\"startStepNames\":[],\"workflowTrigger\":{}}]}},\"type\":\"workflows\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/workflows"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"c844af5e-b121-469e-a23e-287b6e138dbb\",\"type\":\"workflows\",\"attributes\":{\"createdAt\":\"2025-02-03T01:41:53.100233Z\",\"description\":\"\",\"name\":\"Cassette Workflow DELETE\",\"published\":true,\"spec\":{\"triggers\":[{\"workflowTrigger\":{}}]},\"tags\":[],\"updatedAt\":\"2025-02-03T01:41:53.100233Z\"},\"relationships\":{\"creator\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"owner\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 03 Feb 2025 01:41:53 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/workflows/c844af5e-b121-469e-a23e-287b6e138dbb"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"c844af5e-b121-469e-a23e-287b6e138dbb\",\"type\":\"workflows\",\"attributes\":{\"createdAt\":\"2025-02-03T01:41:53.100233Z\",\"description\":\"\",\"name\":\"Cassette Workflow DELETE\",\"published\":true,\"spec\":{\"triggers\":[{\"workflowTrigger\":{}}]},\"tags\":[],\"updatedAt\":\"2025-02-03T01:41:53.100233Z\"},\"relationships\":{\"creator\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"owner\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 03 Feb 2025 01:41:53 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/workflows/c844af5e-b121-469e-a23e-287b6e138dbb"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 03 Feb 2025 01:41:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}