{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/workflows/aaa11111-aa11-aa11-aaaa-aaaaaa111111"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"detail\":\"workflow not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 26 May 2025 17:23:43 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}