{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/workflows/bad-format"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"workflowId\\\" in \\\"path\\\"; expected type \\\"uuid\\\"\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Tue, 04 Feb 2025 04:58:33 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}