{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/workflows?filter%5Bquery%5D=Test-List_workflows_returns_OK_response_with_pagination-1780350762&limit=2&page=0"
      },
      "response": {
        "body": {
          "string": "{\"data\":[],\"meta\":{\"page\":{\"totalCount\":547,\"totalFilteredCount\":0}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 01 Jun 2026 21:52:42 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}