{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/3fa85f64-5717-4562-b3fc-2c963f66afa6"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Resource Not Found\"}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 08 Jan 2026 10:31:28 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}