{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/obs-pipelines/pipelines?page%5Bsize%5D=0"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"page[size] must be a number between 1 and 50\"}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 09 Jan 2026 15:42:44 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}