{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"processor-group-0\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"enabled\":true,\"id\":\"processor-group-0\",\"include\":\"service:my-service\",\"inputs\":[\"datadog-agent-source\"],\"processors\":[{\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"id\":\"datadog-agent-source\",\"type\":\"datadog_agent\"}]},\"name\":\"Main Observability Pipeline\"},\"type\":\"pipelines\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"58407a12-d752-11f0-b262-da7ad0900002\",\"type\":\"pipelines\",\"attributes\":{\"name\":\"Main Observability Pipeline\",\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"processor-group-0\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"enabled\":true,\"id\":\"processor-group-0\",\"include\":\"service:my-service\",\"inputs\":[\"datadog-agent-source\"],\"processors\":[{\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"id\":\"datadog-agent-source\",\"type\":\"datadog_agent\"}]}}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Fri, 12 Dec 2025 12:01:51 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"config\":{\"destinations\":[{\"id\":\"updated-datadog-logs-destination-id\",\"inputs\":[\"my-processor-group\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"enabled\":true,\"id\":\"my-processor-group\",\"include\":\"service:my-service\",\"inputs\":[\"datadog-agent-source\"],\"processors\":[{\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\[...]
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/58407a12-d752-11f0-b262-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Fri, 12 Dec 2025 12:01:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}