{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"my-processor-group\"],\"type\":\"datadog_logs\"}],\"processor_groups\":[{\"enabled\":true,\"id\":\"my-processor-group\",\"include\":\"service:my-service\",\"inputs\":[\"http-client-source\"],\"processors\":[{\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"auth_strategy\":\"bearer\",\"decoding\":\"bytes\",\"id\":\"http-client-source\",\"scrape_interval_secs\":15,\"scrape_timeout_secs\":5,\"token_key\":\"HTTP_CLIENT_TOKEN\",\"type\":\"http_client\"}]},\"name\":\"Pipeline with Source Secret\"},\"type\":\"pipelines\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 20 Feb 2026 14:42:32 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}