{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"vuln_containers_os\":true,\"vuln_host_os\":true},\"id\":\"api-spec-test\",\"type\":\"gcp_scan_options\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"409\",\"detail\":\"gcp scan options already exist for project api-spec-test\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 409,
          "message": "Conflict"
        }
      },
      "recorded_at": "Thu, 23 Oct 2025 22:21:56 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}