{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000005"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no aws scan options found for account 000000000005\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 23 Oct 2025 22:21:57 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}