{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/nonexistent-project-id"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no gcp scan options found for project nonexistent-project-id\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 23 Oct 2025 22:21:57 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}