{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws/00000000-0000-0000-824a-000000000000"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no task found with id '00000000-0000-0000-824a-000000000000'\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Sun, 12 Oct 2025 15:49:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}