{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/404404404404"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no aws scan options found for subscription 404404404404\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 27 Aug 2025 01:14:07 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}