{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"vuln_containers_os\":true,\"vuln_host_os\":true},\"id\":\"000000000005\",\"type\":\"aws_scan_options\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000003"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"data id must be equal to the id provided in the url path\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Sat, 01 Mar 2025 20:02:08 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}