{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"arn\":\"invalid-arn\"},\"type\":\"aws_resource\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid aws arn\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Sun, 12 Oct 2025 15:50:03 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}