{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"arn\":\"arn:aws:lambda:us-west-2:123456789012:function:my-function\"},\"type\":\"aws_resource\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"20fa1c5c-0f03-4db7-b1d9-e360226bb786\",\"type\":\"aws_resource\",\"attributes\":{\"arn\":\"arn:aws:lambda:us-west-2:123456789012:function:my-function\",\"created_at\":\"2025-08-24T22:41:51.043274Z\",\"status\":\"QUEUED\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Sun, 24 Aug 2025 22:41:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}