{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"series\":[{\"metric\":\"system.load.1\",\"points\":[[1652349005,1.1]],\"tags\":[\"test:TestSubmitmetricsreturnsPayloadacceptedresponse1652349005\"],\"type\":\"gauge\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v1/series"
      },
      "response": {
        "body": {
          "string": "{\"status\": \"ok\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/json"
          ]
        },
        "status": {
          "code": 202,
          "message": "Accepted"
        }
      },
      "recorded_at": "Thu, 12 May 2022 09:50:05 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}