{% include "partial_header.j2" %}
#![allow(non_camel_case_types)]
#[macro_use]

extern crate serde_derive;

extern crate serde;
extern crate serde_json;
extern crate url;
extern crate reqwest;

pub mod datadog;
pub mod datadogV1;
pub mod datadogV2;
