{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"scope\":\"test:testcanceldowntimesbyscopereturnsdowntimesnotfoundresponse1641430245_invalid\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v1/downtime/cancel/by_scope"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"No downtimes found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 06 Jan 2022 00:50:45 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}