{"http_interactions": [{"request": {"body": {"string": "{\"end\":1657667266,\"message\":\"Test-Schedule_a_downtime_with_invalid_type_hours-1657663666\",\"monitor_tags\":[\"tag0\"],\"recurrence\":{\"period\":1,\"type\":\"hours\"},\"scope\":[\"*\"],\"start\":1657663666,\"timezone\":\"Etc/UTC\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/downtime"}, "response": {"body": {"string": "{\"errors\": [\"Invalid recurrence type\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 400, "message": "Bad Request"}}, "recorded_at": "Tue, 12 Jul 2022 22:07:46 GMT"}], "recorded_with": "VCR 6.0.0"}