{"http_interactions": [{"request": {"body": {"string": "{\"end\":1684769834,\"message\":\"Test-Update_a_downtime_returns_OK_response-1684766234\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1686580634,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testupdateadowntimereturnsokresponse1684766234\"],\"start\":1684766234,\"timezone\":\"Etc/UTC\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/downtime"}, "response": {"body": {"string": "{\"id\":2941982639,\"monitor_id\":null,\"org_id\":321813,\"start\":1684766234,\"end\":1684769834,\"canceled\":null,\"created\":1684766235,\"modified\":1684766235,\"message\":\"Test-Update_a_downtime_returns_OK_response-1684766234\",\"active\":true,\"disabled\":false,\"recurrence\":{\"type\":\"weeks\",\"period\":1,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"until_occurrences\":null,\"until_date\":1686580634},\"timezone\":\"Etc/UTC\",\"parent_id\":null,\"child_id\":null,\"creator_id\":1445416,\"updater_id\":null,\"downtime_type\":2,\"status\":\"active\",\"monitor_tags\":[\"*\"],\"mute_first_recovery_notification\":false,\"notify_end_types\":[\"expired\"],\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"uuid\":\"25399c6e-f8ae-11ed-b261-da7ad0900002\",\"scope\":[\"test:testupdateadowntimereturnsokresponse1684766234\"]}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 22 May 2023 14:37:14 GMT"}, {"request": {"body": {"string": "{\"message\":\"Test-Update_a_downtime_returns_OK_response-1684766234-updated\",\"mute_first_recovery_notification\":true,\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"notify_end_types\":[\"canceled\",\"expired\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "put", "uri": "https://api.datadoghq.com/api/v1/downtime/2941982639"}, "response": {"body": {"string": "{\"id\":2941982639,\"monitor_id\":null,\"org_id\":321813,\"start\":1684766234,\"end\":1684769834,\"canceled\":null,\"created\":1684766235,\"modified\":1684766235,\"message\":\"Test-Update_a_downtime_returns_OK_response-1684766234-updated\",\"active\":true,\"disabled\":false,\"recurrence\":{\"type\":\"weeks\",\"period\":1,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"until_occurrences\":null,\"until_date\":1686580634},\"timezone\":\"Etc/UTC\",\"parent_id\":null,\"child_id\":null,\"creator_id\":1445416,\"updater_id\":1445416,\"downtime_type\":2,\"status\":\"active\",\"monitor_tags\":[\"*\"],\"mute_first_recovery_notification\":true,\"notify_end_types\":[\"canceled\",\"expired\"],\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"uuid\":null,\"scope\":[\"test:testupdateadowntimereturnsokresponse1684766234\"]}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 22 May 2023 14:37:14 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v1/downtime/2941982639"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Mon, 22 May 2023 14:37:14 GMT"}], "recorded_with": "VCR 6.0.0"}