{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"avatar\":\"\ud83e\udd51\",\"banner\":7,\"handle\":\"test-handle-d8e2060f755d882d\",\"hidden_modules\":[\"m3\"],\"name\":\"test-name-d8e2060f755d882d\",\"visible_modules\":[\"m1\",\"m2\"]},\"type\":\"team\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/team"}, "response": {"body": {"string": "{\"data\":{\"type\":\"team\",\"id\":\"fcaac0f6-405c-11ee-9237-da7ad0900002\",\"attributes\":{\"name\":\"test-name-d8e2060f755d882d\",\"handle\":\"test-handle-d8e2060f755d882d\",\"summary\":null,\"description\":null,\"avatar\":\"\\ud83e\\udd51\",\"banner\":7,\"visible_modules\":[\"m1\",\"m2\"],\"hidden_modules\":[\"m3\"],\"created_at\":\"2023-08-21T19:57:41.527619+00:00\",\"modified_at\":\"2023-08-21T19:57:41.527624+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/fcaac0f6-405c-11ee-9237-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/fcaac0f6-405c-11ee-9237-da7ad0900002/permission-settings\"}}}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Mon, 21 Aug 2023 19:57:41 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/team/fcaac0f6-405c-11ee-9237-da7ad0900002"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Mon, 21 Aug 2023 19:57:41 GMT"}], "recorded_with": "VCR 6.0.0"}