{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-d92d2e08806acc4e\",\"name\":\"test-name-d92d2e08806acc4e\"},\"type\":\"team\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"team\",\"id\":\"2cb8bb60-405b-11ee-8a69-da7ad0900002\",\"attributes\":{\"name\":\"test-name-d92d2e08806acc4e\",\"handle\":\"test-handle-d92d2e08806acc4e\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:43.155798+00:00\",\"modified_at\":\"2023-08-21T19:44:43.155804+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/2cb8bb60-405b-11ee-8a69-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/2cb8bb60-405b-11ee-8a69-da7ad0900002/permission-settings\"}}}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:42 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"label\":\"\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team/2cb8bb60-405b-11ee-8a69-da7ad0900002/links"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"label cannot be empty\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:42 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/2cb8bb60-405b-11ee-8a69-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:42 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}