{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":[{\"id\":\"\",\"type\":\"team_connection\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/connections"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"id\\\" one or more team connection ids are not present\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 27 Mar 2026 09:21:11 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}