{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-94cf752f98fda23c\",\"name\":\"test-name-94cf752f98fda23c\"},\"type\":\"team\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"35d819d9-918b-4d29-838d-ed8507398b21\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":10,\"created_at\":\"2026-01-23T11:00:13.808835+00:00\",\"description\":null,\"handle\":\"test-handle-94cf752f98fda23c\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-01-23T11:00:13.808835+00:00\",\"name\":\"test-name-94cf752f98fda23c\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/permission-settings\"}}}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:13 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"label\":\"Test-Get_a_team_link_returns_OK_response-1769166013\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/links"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"team_links\",\"id\":\"b1c355f0-f84a-11f0-8d16-da7ad0900002\",\"attributes\":{\"team_id\":\"35d819d9-918b-4d29-838d-ed8507398b21\",\"label\":\"Test-Get_a_team_link_returns_OK_response-1769166013\",\"url\":\"https://example.com\",\"position\":0}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:13 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/links/b1c355f0-f84a-11f0-8d16-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"b1c355f0-f84a-11f0-8d16-da7ad0900002\",\"type\":\"team_links\",\"attributes\":{\"label\":\"Test-Get_a_team_link_returns_OK_response-1769166013\",\"position\":0,\"team_id\":\"35d819d9-918b-4d29-838d-ed8507398b21\",\"url\":\"https://example.com\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:13 GMT"
    },
[...]
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:13 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}