{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-174fbe08316e4419\",\"name\":\"test-name-174fbe08316e4419\"},\"type\":\"team\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"team\",\"id\":\"3174aa4c-405b-11ee-9d78-da7ad0900002\",\"attributes\":{\"name\":\"test-name-174fbe08316e4419\",\"handle\":\"test-handle-174fbe08316e4419\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:51.098613+00:00\",\"modified_at\":\"2023-08-21T19:44:51.098619+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/permission-settings\"}}}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:50 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1692647090\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"team_links\",\"id\":\"3194a5c2-405b-11ee-b009-da7ad0900002\",\"attributes\":{\"team_id\":\"3174aa4c-405b-11ee-9d78-da7ad0900002\",\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1692647090\",\"url\":\"https://example.com\",\"position\":0}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:50 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links/3194a5c2-405b-11ee-b009-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:50 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links/3194a5c2-405b-11ee-b009-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Link for ID 3194a5c2-405b-11ee-b009-da7ad0900002 not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:50 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}