{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-e3c0e8f681a17e5d\",\"name\":\"test-name-e3c0e8f681a17e5d\"},\"type\":\"team\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"team\",\"id\":\"312a5500-405b-11ee-8490-da7ad0900002\",\"attributes\":{\"name\":\"test-name-e3c0e8f681a17e5d\",\"handle\":\"test-handle-e3c0e8f681a17e5d\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:50.611038+00:00\",\"modified_at\":\"2023-08-21T19:44:50.611044+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/312a5500-405b-11ee-8490-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/312a5500-405b-11ee-8490-da7ad0900002/permission-settings\"}}}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:50 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/312a5500-405b-11ee-8490-da7ad0900002/links/REPLACE.ME"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:50 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/312a5500-405b-11ee-8490-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:44:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}