{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-5e7e3d924d3cf03e\",\"name\":\"test-name-5e7e3d924d3cf03e\"},\"type\":\"team\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"59e1efcf-eb13-4a2b-8fcf-64590d56007f\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":7,\"created_at\":\"2026-01-23T11:00:15.837894+00:00\",\"description\":null,\"handle\":\"test-handle-5e7e3d924d3cf03e\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-01-23T11:00:15.837894+00:00\",\"name\":\"test-name-5e7e3d924d3cf03e\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/permission-settings\"}}}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:15 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1769166015\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/links"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"team_links\",\"id\":\"b2fba45e-f84a-11f0-9d5d-da7ad0900002\",\"attributes\":{\"team_id\":\"59e1efcf-eb13-4a2b-8fcf-64590d56007f\",\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1769166015\",\"url\":\"https://example.com\",\"position\":0}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:15 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/links/b2fba45e-f84a-11f0-9d5d-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:15 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f/links/b2fba45e-f84a-11f0-9d5d-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Link for ID b2fba45e-f84a-11f0-9d5d-da7ad0900002 not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:15 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/59e1efcf-eb13-4a2b-8fcf-64590d56007f"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Fri, 23 Jan 2026 11:00:15 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}