{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-f05d64ea2c336925\",\"name\":\"test-name-f05d64ea2c336925\"},\"type\":\"team\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/team"}, "response": {"body": {"string": "{\"data\":{\"type\":\"team\",\"id\":\"32b31d26-405b-11ee-8641-da7ad0900002\",\"attributes\":{\"name\":\"test-name-f05d64ea2c336925\",\"handle\":\"test-handle-f05d64ea2c336925\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:53.186188+00:00\",\"modified_at\":\"2023-08-21T19:44:53.186194+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/permission-settings\"}}}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Mon, 21 Aug 2023 19:44:53 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"label\":\"Link label\",\"url\":\"https://example.com\"},\"type\":\"team_links\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/links/REPLACE.ME"}, "response": {"body": {"string": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 404, "message": "Not Found"}}, "recorded_at": "Mon, 21 Aug 2023 19:44:53 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Mon, 21 Aug 2023 19:44:53 GMT"}], "recorded_with": "VCR 6.0.0"}