{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-9503f929e485f83e\",\"name\":\"test-name-9503f929e485f83e\"},\"type\":\"team\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/team"}, "response": {"body": {"string": "{\"data\":{\"type\":\"team\",\"id\":\"3301859c-405b-11ee-aedf-da7ad0900002\",\"attributes\":{\"name\":\"test-name-9503f929e485f83e\",\"handle\":\"test-handle-9503f929e485f83e\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:53.699451+00:00\",\"modified_at\":\"2023-08-21T19:44:53.699457+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/permission-settings\"}}}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Mon, 21 Aug 2023 19:44:53 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"label\":\"Test-Update_a_team_link_returns_OK_response-1692647093\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/links"}, "response": {"body": {"string": "{\"data\":{\"type\":\"team_links\",\"id\":\"331f8b00-405b-11ee-bdcc-da7ad0900002\",\"attributes\":{\"team_id\":\"3301859c-405b-11ee-aedf-da7ad0900002\",\"label\":\"Test-Update_a_team_link_returns_OK_response-1692647093\",\"url\":\"https://example.com\",\"position\":0}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 21 Aug 2023 19:44:53 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"label\":\"New Label\",\"url\":\"https://example.com\"},\"type\":\"team_links\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/links/331f8b00-405b-11ee-bdcc-da7ad0900002"}, "response": {"body": {"string": "{\"data\":{\"type\":\"team_links\",\"id\":\"331f8b00-405b-11ee-bdcc-da7ad0900002\",\"attributes\":{\"team_id\":\"3301859c-405b-11ee-aedf-da7ad0900002\",\"label\":\"New Label\",\"url\":\"https://example.com\",\"position\":0}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 21 Aug 2023 19:44:53 GMT"}, [...]
{"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Mon, 21 Aug 2023 19:44:53 GMT"}], "recorded_with": "VCR 6.0.0"}