{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-2d88c8b44bfe8721\",\"name\":\"test-name-2d88c8b44bfe8721\"},\"type\":\"team\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/team"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"team\",\"id\":\"81011c66-405c-11ee-bec1-da7ad0900002\",\"attributes\":{\"name\":\"test-name-2d88c8b44bfe8721\",\"handle\":\"test-handle-2d88c8b44bfe8721\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:54:14.055917+00:00\",\"modified_at\":\"2023-08-21T19:54:14.055923+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/81011c66-405c-11ee-bec1-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/81011c66-405c-11ee-bec1-da7ad0900002/permission-settings\"}}}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:54:13 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"avatar\":\"\ud83e\udd51\",\"banner\":7,\"handle\":\"test-handle-2d88c8b44bfe8721\",\"hidden_modules\":[\"m3\"],\"name\":\"test-name-2d88c8b44bfe8721 updated\",\"visible_modules\":[\"m1\",\"m2\"]},\"type\":\"team\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https[...]
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/team/81011c66-405c-11ee-bec1-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 21 Aug 2023 19:54:13 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}