{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"test\":\"bad_request\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"API input validation failed: {'_schema': [{'detail': 'Object must include `data` key.', 'source': {'pointer': '/'}}]}\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 17 Nov 2025 21:36:33 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}