{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"restriction_query\":\"env:sandbox\"},\"type\":\"logs_restriction_queries\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"logs_restriction_queries\",\"id\":\"5b92c0ce-c192-11f0-8f65-da7ad0900002\",\"attributes\":{\"restriction_query\":\"env:sandbox\",\"created_at\":\"2025-11-14T19:44:39.420652+00:00\",\"modified_at\":\"2025-11-14T19:44:39.420652+00:00\"}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 14 Nov 2025 19:44:39 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/5b92c0ce-c192-11f0-8f65-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"logs_restriction_queries\",\"id\":\"5b92c0ce-c192-11f0-8f65-da7ad0900002\",\"attributes\":{\"restriction_query\":\"env:sandbox\",\"created_at\":\"2025-11-14T19:44:39.420652+00:00\",\"modified_at\":\"2025-11-14T19:44:39.420652+00:00\"},\"relationships\":{\"roles\":{\"data\":[]}}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 14 Nov 2025 19:44:39 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/5b92c0ce-c192-11f0-8f65-da7ad0900002"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Fri, 14 Nov 2025 19:44:39 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}