{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/model-lab-api/runs/70158/artifacts"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"70158\",\"type\":\"artifacts\",\"attributes\":{\"files\":[{\"path\":\"lora_model/\",\"is_dir\":true}],\"path_in_project\":\"f635c73b70594ab6bb6e212cdf87d0d5/artifacts\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 18 May 2026 16:45:00 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}