{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/model-lab-api/project-facet-values?facet_type=tag&facet_name=model"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"tag:model\",\"type\":\"facet_values\",\"attributes\":{\"facet_name\":\"model\",\"facet_type\":\"tag\",\"values\":[]}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 18 May 2026 16:45:00 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}