{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"values\":[{\"id\":\"cust_3141\",\"name\":\"Johnathan\"},{\"id\":\"cust_3142\",\"name\":\"Mary\"}]},\"id\":\"70b87c26-886f-497a-bd9d-09f53bc9b40c\",\"type\":\"items\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores/70b87c26-886f-497a-bd9d-09f53bc9b40c/items/bulk"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"id\":\"fe0d81bc-86cb-4ce4-b770-35ad8facfbf3\",\"title\":\"datastore not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Fri, 05 Sep 2025 22:54:06 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}