{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"item_key\":\"primaryKey\"},\"type\":\"items\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"id\":\"5adc82ee-f920-4fe9-aafc-10cabac28b68\",\"title\":\"invalid path parameter\",\"detail\":\"invalid datastoreId format in path\",\"source\":{\"parameter\":\"datastoreId\"}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Sat, 06 Sep 2025 19:03:07 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}