{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"item_key\":\"primaryKey\"},\"id\":\"invalid-uuid\",\"type\":\"items\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"invalid path parameter\",\"detail\":\"invalid datastoreId format in path\",\"source\":{\"parameter\":\"datastoreId\"}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 11 Aug 2025 22:19:01 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}