{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores/5bf53b3f-b230-4b35-ab1a-b39f2633eb22"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"id\":\"d4aab06a-e0f9-4aff-9af4-bc99e2938ec3\",\"title\":\"datastore not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Fri, 05 Sep 2025 22:54:09 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}