{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores/3cfdd0b8-c490-4969-8d51-69add64a70ea/items"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"datastore not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 11 Aug 2025 22:19:04 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}