{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{},\"id\":\"invalid-uuid\",\"type\":\"datastores\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"id\":\"bea9975d-a9cd-43dc-bb3c-df0f8fc09ea4\",\"title\":\"invalid path parameter\",\"detail\":\"invalid datastoreId format in path\",\"source\":{\"parameter\":\"datastoreId\"}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 29 Aug 2025 21:35:06 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}