{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"8afbd887-9465-45f4-8a3f-78d6bba0724c\",\"type\":\"datastores\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 29 Aug 2025 21:35:07 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"value\":{\"data\":\"example data\",\"id\":\"new-item-key\",\"key\":\"value\"}},\"id\":\"e7e64418-b60c-4789-9612-895ac8423207\",\"type\":\"items\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores/8afbd887-9465-45f4-8a3f-78d6bba0724c/items"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"cb77f9d6-532d-4d43-b5db-6a48012d9d3d\",\"type\":\"items\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 29 Aug 2025 21:35:07 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/actions-datastores/8afbd887-9465-45f4-8a3f-78d6bba0724c"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"8afbd887-9465-45f4-8a3f-78d6bba0724c\",\"type\":\"datastores\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 29 Aug 2025 21:35:07 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}