{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/logs/config/custom-destinations/does-not-exist"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"NotFound\"]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Tue, 12 Mar 2024 09:20:11 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}