{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/ndm/tags/devices/default_device"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"default_device\",\"type\":\"tags\",\"attributes\":{\"tags\":[\"tag:test\",\"tag:testbis\"]}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 30 Jul 2024 13:27:40 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}