{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"priority\":\"NOT_DEFINED\",\"title\":\"Security breach investigation\",\"type_id\":\"00000000-0000-0000-0000-000000000001\"},\"relationships\":{\"assignee\":{\"data\":{\"id\":\"721074c8-63df-4d8f-a43d-ab41dd24ec35\",\"type\":\"user\"}},\"project\":{\"data\":{\"id\":\"721074c8-63df-4d8f-a43d-ab41dd24ec35\",\"type\":\"project\"}}},\"type\":\"case\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/cases"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"project not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 01 Oct 2025 12:46:41 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}