{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"case not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 14 Feb 2024 18:55:17 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}