{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"name\":\"Updated Project Name\"},\"type\":\"project\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/cases/projects/67d80aa3-36ff-44b9-a694-c501a7591737"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"failed to get project: project not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 28 Jan 2026 12:51:17 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}