{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"title\":\"Memory leak investigation on API\"},\"type\":\"case\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/cases/0198c6b8-b08f-7c08-978a-d95217f2eeac/title"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"case not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 01 Oct 2025 12:47:06 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}