{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/dashboards/xxx-xxx-xxx/usage"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Dashboard not found for dashboard_id=xxx-xxx-xxx in org_id=321813 not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 18 May 2026 14:40:26 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}