{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/dashboards/usage?page%5Blimit%5D=10000"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Input should be less than or equal to 500\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 18 May 2026 14:40:28 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}