{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/datasets/malformed_id"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Invalid request: Request body contains invalid json\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 26 Mar 2026 21:30:10 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}