{"http_interactions": [{"request": {"body": {"string": "[{\"check\":\"app.ok\",\"host_name\":\"host\",\"status\":0,\"tags\":[\"test:TestSubmitaServiceCheckreturnsPayloadacceptedresponse1652349011\"]}]", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/check_run"}, "response": {"body": {"string": "{\"status\": \"ok\"}", "encoding": null}, "headers": {"Content-Type": ["text/json"]}, "status": {"code": 202, "message": "Accepted"}}, "recorded_at": "Thu, 12 May 2022 09:50:11 GMT"}], "recorded_with": "VCR 6.0.0"}