{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "[{\"ddtags\":\"host:TestSendlogsreturnsResponsefromserveralways200emptyJSONresponse1649774806\",\"message\":\"Test-Send_logs_returns_Response_from_server_always_200_empty_JSON_response-1649774806\"}]",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://http-intake.logs.datadoghq.com/v1/input"
      },
      "response": {
        "body": {
          "string": "{}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 12 Apr 2022 14:46:46 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}