{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v1/validate"
      },
      "response": {
        "body": {
          "string": "{\"valid\":true}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 06 Jan 2022 00:50:20 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}