{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"email\":\"Test-List_access_tokens_for_a_service_account_returns_OK_response-1776369790@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/service_accounts"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"users\",\"id\":\"4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4\",\"attributes\":{\"uuid\":\"4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4\",\"name\":null,\"handle\":\"4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4\",\"created_at\":\"2026-04-16T20:03:10.837056+00:00\",\"modified_at\":\"2026-04-16T20:03:10.837056+00:00\",\"email\":\"test-list_access_tokens_for_a_service_account_returns_ok_response-1776369790@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/0a5772e4c2381e3c1061e55142e2281a?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Thu, 16 Apr 2026 20:03:10 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/service_accounts/4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4/access_tokens"
      },
      "response": {
        "body": {
          "string": "{\"data\":[],\"meta\":{\"page\":{\"total_filtered_count\":0}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 16 Apr 2026 20:03:10 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/users/4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Thu, 16 Apr 2026 20:03:10 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}