{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/seats/users"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"product_code query parameter is required\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 11 Feb 2026 18:39:39 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}