{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"filter\":{\"from\":\"now\",\"query\":\"service:web* AND @http.status_code:[200 TO 299]\",\"to\":\"now-15m\"},\"options\":{\"timezone\":\"GMT\"},\"page\":{\"limit\":10},\"sort\":\"timestamp\"},\"type\":\"search_request\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/spans/events/search"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid_argument(Field 'filter.from,to' is invalid: 'from' should be anterior to 'to')\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        }
      },
      "recorded_at": "Thu, 29 Jun 2023 09:59:05 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}