{"http_interactions": [{"request": {"body": {"string": "{\"account_id\":\"169988502100\",\"account_specific_namespace_rules\":{\"auto_scaling\":false},\"cspm_resource_collection_enabled\":true,\"excluded_regions\":[\"us-east-1\",\"us-west-2\"],\"filter_tags\":[\"$KEY:$VALUE\"],\"host_tags\":[\"$KEY:$VALUE\"],\"metrics_collection_enabled\":false,\"resource_collection_enabled\":true,\"role_name\":\"DatadogAWSIntegrationRole\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/integration/aws"}, "response": {"body": {"string": "{\"external_id\":\"9668e281c0ef4cc8be01710ef7a0ae4c\"}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 13 Nov 2023 14:17:01 GMT"}, {"request": {"body": {"string": "{\"account_id\":\"169988502100\",\"role_name\":\"DatadogAWSIntegrationRole\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "delete", "uri": "https://api.datadoghq.com/api/v1/integration/aws"}, "response": {"body": {"string": "{}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 13 Nov 2023 14:17:01 GMT"}], "recorded_with": "VCR 6.0.0"}