{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"enabled\":true,\"entries\":[]},\"type\":\"ip_allowlist\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/ip_allowlist"}, "response": {"body": {"string": "{\"errors\":[\"Cannot enable or keep enabled an IP Allowlist without the current IP address in it\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 400, "message": "Bad Request"}}, "recorded_at": "Fri, 10 Feb 2023 16:26:52 GMT"}], "recorded_with": "VCR 6.0.0"}