{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"enabled\":false,\"entries\":[]},\"type\":\"ip_allowlist\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/ip_allowlist"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"ip_allowlist\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\",\"attributes\":{\"enabled\":false,\"entries\":[]}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 10 Feb 2023 16:26:53 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"enabled\":false,\"entries\":[{\"data\":{\"attributes\":{\"cidr_block\":\"127.0.0.1\",\"note\":\"Test-Update_IP_Allowlist_returns_OK_response-1676046413\"},\"type\":\"ip_allowlist_entry\"}}]},\"type\":\"ip_allowlist\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/ip_allowlist"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"ip_allowlist\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\",\"attributes\":{\"enabled\":false,\"entries\":[{\"data\":{\"attributes\":{\"note\":\"Test-Update_IP_Allowlist_returns_OK_response-1676046413\",\"created_at\":\"2023-02-10T16:26:53.343754+00:00\",\"modified_at\":\"2023-02-10T16:26:53.343754+00:00\",\"cidr_block\":\"127.0.0.1/32\"},\"type\":\"ip_allowlist_entry\",\"id\":\"41678b10-3555-4dba-abbd-754d294aadc1\"}}]}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 10 Feb 2023 16:26:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}