{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/services/definitions/not-a-service"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Not Found\"],\"error_details\":[{}]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Mon, 10 Oct 2022 10:18:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}