{"http_interactions": [{"request": {"body": {"string": "{\"name\":\"updated\",\"options\":{\"evaluation_delay\":null,\"new_group_delay\":600,\"new_host_delay\":null,\"renotify_interval\":null,\"thresholds\":{\"critical\":2,\"warning\":null},\"timeout_h\":null}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "put", "uri": "https://api.datadoghq.com/api/v1/monitor/0"}, "response": {"body": {"string": "{\"errors\":[\"Monitor not found\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 404, "message": "Not Found"}}, "recorded_at": "Thu, 06 Jan 2022 00:50:56 GMT"}], "recorded_with": "VCR 6.0.0"}