{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v1/monitor/12345"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Monitor not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 06 Jan 2022 00:50:57 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}