{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"query\":\"query\",\"type\":\"log alert\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v1/monitor/validate"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"The value provided for parameter 'query' is invalid: invalid operator specified: \"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 06 Jan 2022 00:51:01 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}