{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_event_stream_list_stream_widget-1731699158 with list_stream widget\",\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"event_stream\",\"event_size\":\"l\",\"query_string\":\"\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v1/dashboard"
      },
      "response": {
        "body": {
          "string": "{\"id\":\"vw4-by2-54m\",\"title\":\"Test-Create_a_new_dashboard_with_event_stream_list_stream_widget-1731699158 with list_stream widget\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/vw4-by2-54m/test-createanewdashboardwitheventstreamliststreamwidget-1731699158-with-liststre\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"event_stream\",\"event_size\":\"l\",\"query_string\":\"\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"},\"id\":7618408090059389}],\"notify_list\":null,\"created_at\":\"2024-11-15T19:32:39.054775+00:00\",\"modified_at\":\"2024-11-15T19:32:39.054775+00:00\",\"restricted_roles\":[]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 15 Nov 2024 19:32:38 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v1/dashboard/vw4-by2-54m"
      },
      "response": {
        "body": {
          "string": "{\"deleted_dashboard_id\":\"vw4-by2-54m\"}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 15 Nov 2024 19:32:38 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}