{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"description\":null,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_heatmap_widget-1731611543\",\"widgets\":[{\"definition\":{\"requests\":[{\"q\":\"avg:system.cpu.user{*} by {service}\",\"style\":{\"palette\":\"dog_classic\"}}],\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"heatmap\"},\"layout\":{\"height\":15,\"width\":47,\"x\":0,\"y\":0}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v1/dashboard"
      },
      "response": {
        "body": {
          "string": "{\"id\":\"m55-nbe-fb2\",\"title\":\"Test-Create_a_new_dashboard_with_heatmap_widget-1731611543\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"free\",\"url\":\"/dashboard/m55-nbe-fb2/test-createanewdashboardwithheatmapwidget-1731611543\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"requests\":[{\"q\":\"avg:system.cpu.user{*} by {service}\",\"style\":{\"palette\":\"dog_classic\"}}],\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"heatmap\"},\"layout\":{\"height\":15,\"width\":47,\"x\":0,\"y\":0},\"id\":3468862583321901}],\"notify_list\":[],\"created_at\":\"2024-11-14T19:12:24.011974+00:00\",\"modified_at\":\"2024-11-14T19:12:24.011974+00:00\",\"restricted_roles\":[]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 14 Nov 2024 19:12:23 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v1/dashboard/m55-nbe-fb2"
      },
      "response": {
        "body": {
          "string": "{\"deleted_dashboard_id\":\"m55-nbe-fb2\"}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 14 Nov 2024 19:12:23 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}