{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"dashboard_id\":\"abc-123-def\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_type\":\"open\"}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v1/dashboard/public"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"custom_timeboard abc-123-def not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Fri, 31 Mar 2023 21:01:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}