{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"description\":\"My Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name == \\\"sh\\\"\",\"name\":\"testdeleteacloudworkloadsecurityagentrulereturnsokresponse1652349081\"},\"type\":\"agent_rule\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules"}, "response": {"body": {"string": "{\"data\":{\"attributes\":{\"category\":\"Process Activity\",\"name\":\"testdeleteacloudworkloadsecurityagentrulereturnsokresponse1652349081\",\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"description\":\"My Agent rule\",\"enabled\":true,\"defaultRule\":false,\"version\":1,\"updater\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"updateDate\":1652349082186,\"creationDate\":1652349082186,\"expression\":\"exec.file.name == \\\"sh\\\"\"},\"type\":\"agent_rule\",\"id\":\"hqy-ez4-nci\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json;charset=utf-8"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 12 May 2022 09:51:21 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/hqy-ez4-nci"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"Content-Type": ["application/json;charset=utf-8"]}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Thu, 12 May 2022 09:51:21 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/hqy-ez4-nci"}, "response": {"body": {"string": "{\"errors\":[\"not_found(Agent rule not found: agentRuleId=hqy-ez4-nci)\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 404, "message": "Not Found"}}, "recorded_at": "Thu, 12 May 2022 09:51:21 GMT"}], "recorded_with": "VCR 6.0.0"}