{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"description\":\"My Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name == \\\"sh\\\"\",\"name\":\"testgetacloudworkloadsecurityagentrulereturnsokresponse1652349083\"},\"type\":\"agent_rule\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules"}, "response": {"body": {"string": "{\"data\":{\"attributes\":{\"category\":\"Process Activity\",\"name\":\"testgetacloudworkloadsecurityagentrulereturnsokresponse1652349083\",\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"description\":\"My Agent rule\",\"enabled\":true,\"defaultRule\":false,\"version\":1,\"updater\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"updateDate\":1652349083546,\"creationDate\":1652349083546,\"expression\":\"exec.file.name == \\\"sh\\\"\"},\"type\":\"agent_rule\",\"id\":\"xnm-bjf-tfb\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json;charset=utf-8"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 12 May 2022 09:51:23 GMT"}, {"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/xnm-bjf-tfb"}, "response": {"body": {"string": "{\"data\":{\"attributes\":{\"category\":\"Process Activity\",\"name\":\"testgetacloudworkloadsecurityagentrulereturnsokresponse1652349083\",\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"description\":\"My Agent rule\",\"enabled\":true,\"defaultRule\":false,\"version\":1,\"updater\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"updateDate\":1652349083546,\"creationDate\":1652349083546,\"expression\":\"exec.file.name == \\\"sh\\\"\"},\"type\":\"agent_rule\",\"id\":\"xnm-bjf-tfb\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json;charset=utf-8"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 12 May 2022 09:51:23 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/xnm-bjf-tfb"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"Content-Type": ["application/json;charset=utf-8"]}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Thu, 12 May 2022 09:51:23 GMT"}], "recorded_with": "VCR 6.0.0"}