{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"description\":\"Test Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name == \\\"sh\\\"\"},\"type\":\"agent_rule\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/abc-123-xyz"}, "response": {"body": {"string": "{\"errors\":[\"not_found(Agent rule not found: agentRuleId=abc-123-xyz)\"]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 404, "message": "Not Found"}}, "recorded_at": "Tue, 11 Jan 2022 18:11:42 GMT"}], "recorded_with": "VCR 6.0.0"}