{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@http.status_code:200 service:my-service\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"my retention filter\",\"rate\":1,\"trace_rate\":1},\"type\":\"apm_retention_filter\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"QAtIbDKzQmCnHSvQde-VWw\",\"attributes\":{\"name\":\"my retention filter\",\"rate\":1.0,\"trace_rate\":1.0,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@http.status_code:200 service:my-service\"},\"editable\":true,\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1744111966,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1744111966},\"type\":\"apm_retention_filter\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 08 Apr 2025 11:32:46 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/QAtIbDKzQmCnHSvQde-VWw"
      },
      "response": {
        "body": {
          "string": "{}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 08 Apr 2025 11:32:46 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}