{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"demo retention filter\",\"rate\":0.9},\"type\":\"apm_retention_filter\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"ZHyaGYKyQNO4nNxGqIxrdg\",\"attributes\":{\"name\":\"demo retention filter\",\"rate\":0.9,\"trace_rate\":0.0,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"editable\":true,\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1744111968,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1744111968},\"type\":\"apm_retention_filter\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 08 Apr 2025 11:32:47 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/ZHyaGYKyQNO4nNxGqIxrdg"
      },
      "response": {
        "body": {
          "string": "{}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Tue, 08 Apr 2025 11:32:47 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/ZHyaGYKyQNO4nNxGqIxrdg"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"retention filter with id: 'ZHyaGYKyQNO4nNxGqIxrdg' not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Tue, 08 Apr 2025 11:32:47 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}