{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/REPLACE.ME"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"retention filter with id: 'REPLACE.ME' not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Tue, 08 Apr 2025 11:32:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}