{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":[{\"id\":\"jdZrilSJQLqzb6Cu7aub9Q\",\"type\":\"apm_retention_filter\"},{\"id\":\"7RBOb7dLSYWI01yc3pIH8w\",\"type\":\"apm_retention_filter\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters-execution-order"
      },
      "response": {
        "body": {
          "string": "{}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 11:39:25 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}