{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"test\",\"rate\":0.9},\"id\":\"not_found\",\"type\":\"apm_retention_filter\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/not_found"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"retention filter with id: 'not_found' not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Tue, 08 Apr 2025 11:32:55 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}