{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"demo retention filter\",\"rate\":0.9},\"type\":\"apm_retention_filter\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"}, "response": {"body": {"string": "{\"data\":{\"id\":\"ur3J5qCQTtmILqW-Ss0alw\",\"attributes\":{\"name\":\"demo retention filter\",\"rate\":0.9,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1695314344,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1695314344,\"editable\":true},\"type\":\"apm_retention_filter\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 21 Sep 2023 16:39:04 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"test\",\"rate\":0.9},\"id\":\"test-id\",\"type\":\"apm_retention_filter\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "put", "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/ur3J5qCQTtmILqW-Ss0alw"}, "response": {"body": {"string": "{\"data\":{\"id\":\"ur3J5qCQTtmILqW-Ss0alw\",\"attributes\":{\"name\":\"test\",\"rate\":0.9,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1695314344,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1695314344,\"editable\":true},\"type\":\"apm_retention_filter\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 21 Sep 2023 16:39:04 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/ur3J5qCQTtmILqW-Ss0alw"}, "response": {"body": {"string": "{}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 21 Sep 2023 16:39:04 GMT"}], "recorded_with": "VCR 6.0.0"}