{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/00000000-0000-0000-0000-000000000000"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Tag indexing rule not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 04 Jun 2026 16:39:37 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}