{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/not-a-valid-uuid"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Invalid tag indexing rule ID format\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 04 Jun 2026 16:39:36 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}