{"http_interactions": [{"request": {"body": {"string": "{\"series\":[{\"metric\":\"TestListtagsbymetricnamereturnsSuccessresponse1652354618\",\"points\":[[1652354618,1.1]],\"tags\":[\"test:ExampleSubmitmetricsreturnsPayloadacceptedresponse\"],\"type\":\"gauge\"}]}", "encoding": null}, "headers": {"Content-Type": ["text/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/series"}, "response": {"body": {"string": "{\"status\": \"ok\"}", "encoding": null}, "headers": {"Content-Type": ["text/json"]}, "status": {"code": 202, "message": "Accepted"}}, "recorded_at": "Thu, 12 May 2022 11:23:38 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"metric_type\":\"gauge\",\"tags\":[\"app\",\"datacenter\",\"TestListtagsbymetricnamereturnsSuccessresponse1652354618\"]},\"id\":\"TestListtagsbymetricnamereturnsSuccessresponse1652354618\",\"type\":\"manage_tags\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1652354618/tags"}, "response": {"body": {"string": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestListtagsbymetricnamereturnsSuccessresponse1652354618\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestListtagsbymetricnamereturnsSuccessresponse1652354618\"],\"created_at\":\"2022-05-12T11:23:43.466946+00:00\",\"modified_at\":\"2022-05-12T11:23:43.466946+00:00\",\"metric_type\":\"gauge\",\"aggregations\":[{\"space\":\"avg\",\"time\":\"avg\"}]}}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Thu, 12 May 2022 11:23:38 GMT"}, {"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1652354618/all-tags"}, "response": {"body": {"string": "{\"data\":{\"type\":\"metrics\",\"id\":\"TestListtagsbymetricnamereturnsSuccessresponse1652354618\",\"attributes\":{\"tags\":[]}}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Thu, 12 May 2022 11:23:38 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1652354618/tags"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Thu, 12 May 2022 11:23:38 GMT"}], "recorded_with": "VCR 6.0.0"}