{"http_interactions": [{"request": {"body": {"string": "{\"series\":[{\"metric\":\"static_test_metric_donotdelete\",\"points\":[[1685976245,1.1]],\"tags\":[\"test:static_test_metric_donotdelete\"],\"type\":\"gauge\"}]}", "encoding": null}, "headers": {"Content-Type": ["text/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/series"}, "response": {"body": {"string": "{\"status\": \"ok\"}", "encoding": null}, "headers": {"Content-Type": ["text/json"]}, "status": {"code": 202, "message": "Accepted"}}, "recorded_at": "Mon, 05 Jun 2023 14:44:05 GMT"}, {"request": {"body": "", "headers": {}, "method": "get", "uri": "https://api.datadoghq.com/api/v2/metrics/static_test_metric_donotdelete/active-configurations"}, "response": {"body": {"string": "{\"data\":{\"type\":\"actively_queried_configurations\",\"id\":\"static_test_metric_donotdelete\",\"attributes\":{\"active_tags\":[],\"active_aggregations\":[]}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 05 Jun 2023 14:44:05 GMT"}], "recorded_with": "VCR 6.0.0"}