{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"rule_ids\":[]},\"type\":\"tag_indexing_rules\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"rule_ids must not be empty\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 04 Jun 2026 16:39:37 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}