{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a+b\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1568899800000,\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"a\",\"query\":\"avg:system.cpu.user{*}\"}],\"to\":1568923200000},\"type\":\"scalar_request\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/query/scalar"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Queries ending outside the retention date are invalid\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 21 Dec 2022 11:14:00 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}