{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a+b\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1671617641,\"interval\":5000,\"queries\":[{\"data_source\":\"metrics\",\"query\":\"avg:system.cpu.user{*}\"}],\"to\":1671621241},\"type\":\"timeseries_rquest\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/query/timeseries"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"API input validation failed: Invalid type. Expected \\\"timeseries_request\\\".\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 21 Dec 2022 11:14:01 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}