{"http_interactions": [{"request": {"body": {"string": "{\"series\":[{\"metric\":\"TestUpdateatagconfigurationreturnsOKresponse1652354372\",\"points\":[[1652354372,1.1]],\"tags\":[\"test:ExampleSubmitmetricsreturnsPayloadacceptedresponse\"],\"type\":\"gauge\"}]}", "encoding": null}, "headers": {"Content-Type": ["text/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v1/series"}, "response": {"body": {"string": "{\"status\": \"ok\"}", "encoding": null}, "headers": {"Content-Type": ["text/json"]}, "status": {"code": 202, "message": "Accepted"}}, "recorded_at": "Thu, 12 May 2022 11:19:32 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"metric_type\":\"gauge\",\"tags\":[\"app\",\"datacenter\",\"TestUpdateatagconfigurationreturnsOKresponse1652354372\"]},\"id\":\"TestUpdateatagconfigurationreturnsOKresponse1652354372\",\"type\":\"manage_tags\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1652354372/tags"}, "response": {"body": {"string": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestUpdateatagconfigurationreturnsOKresponse1652354372\",\"attributes\":{\"tags\":[\"datacenter\",\"TestUpdateatagconfigurationreturnsOKresponse1652354372\",\"app\"],\"created_at\":\"2022-05-12T11:19:33.257425+00:00\",\"modified_at\":\"2022-05-12T11:19:33.257425+00:00\",\"metric_type\":\"gauge\",\"aggregations\":[{\"space\":\"avg\",\"time\":\"avg\"}]}}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Thu, 12 May 2022 11:19:32 GMT"}, [...]
{"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1652354372/tags"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Thu, 12 May 2022 11:19:32 GMT"}], "recorded_with": "VCR 6.0.0"}