{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"client_email\":\"9f53cbf93a21704b@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"is_cspm_enabled\":true,\"resource_collection_enabled\":true},\"type\":\"gcp_service_account\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"}, "response": {"body": {"string": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_cspm_enabled\":true,\"account_tags\":[],\"host_filters\":[],\"resource_collection_enabled\":true,\"is_security_command_center_enabled\":false,\"client_email\":\"9f53cbf93a21704b@test-project.iam.gserviceaccount.com\",\"automute\":false},\"id\":\"cf3c6e32-dad2-452e-8c09-f34c5f2211a1\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Fri, 15 Dec 2023 08:45:38 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/cf3c6e32-dad2-452e-8c09-f34c5f2211a1"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Fri, 15 Dec 2023 08:45:38 GMT"}], "recorded_with": "VCR 6.0.0"}