{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"client_email\":\"Test-1701e5fecd52895c@test-project.iam.gserviceaccount.com\",\"cloud_run_revision_filters\":[\"meh:bleh\"],\"host_filters\":[]},\"type\":\"gcp_service_account\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"gcp_service_account\",\"id\":\"58054a77-4ee0-44a8-8260-4eec67ddcced\",\"attributes\":{\"is_cspm_enabled\":false,\"automute\":false,\"is_security_command_center_enabled\":false,\"client_email\":\"Test-1701e5fecd52895c@test-project.iam.gserviceaccount.com\",\"resource_collection_enabled\":false,\"account_tags\":[],\"host_filters\":[],\"cloud_run_revision_filters\":[\"meh:bleh\"]}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 11 Mar 2024 19:47:23 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/58054a77-4ee0-44a8-8260-4eec67ddcced"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 11 Mar 2024 19:47:23 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}