{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"client_email\":\"89e7e1c05bdec66f@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"}, "response": {"body": {"string": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"client_email\":\"89e7e1c05bdec66f@example.com\",\"host_filters\":[],\"automute\":false,\"is_cspm_enabled\":false},\"id\":\"91cde1ef-1da8-4340-9563-5b491f1176a7\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Fri, 16 Jun 2023 14:07:02 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"client_email\":\"89e7e1c05bdec66f@example.com\",\"host_filters\":[\"foo:bar\"]},\"id\":\"91cde1ef-1da8-4340-9563-5b491f1176a7\",\"type\":\"gcp_service_account\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/91cde1ef-1da8-4340-9563-5b491f1176a7"}, "response": {"body": {"string": "{\"data\":{\"type\":\"gcp_service_account\",\"id\":\"91cde1ef-1da8-4340-9563-5b491f1176a7\",\"attributes\":{\"client_email\":\"89e7e1c05bdec66f@example.com\",\"is_cspm_enabled\":false,\"automute\":false,\"host_filters\":[\"foo:bar\"]}}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Fri, 16 Jun 2023 14:07:02 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/91cde1ef-1da8-4340-9563-5b491f1176a7"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Fri, 16 Jun 2023 14:07:02 GMT"}], "recorded_with": "VCR 6.0.0"}