{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"client_email\":\"Test-159c92b6b06abd9d@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"resource_collection_enabled\":false,\"is_security_command_center_enabled\":false,\"cloud_run_revision_filters\":[],\"is_cspm_enabled\":false,\"client_email\":\"Test-159c92b6b06abd9d@example.com\",\"automute\":false,\"account_tags\":[],\"host_filters\":[]},\"id\":\"acd4d936-fba6-4b2f-8b46-768389ff90b1\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 11 Mar 2024 19:47:26 GMT"
    },
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"client_email\":\"Test-159c92b6b06abd9d@example.com\",\"host_filters\":[\"foo:bar\"]},\"id\":\"acd4d936-fba6-4b2f-8b46-768389ff90b1\",\"type\":\"gcp_service_account\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/acd4d936-fba6-4b2f-8b46-768389ff90b1"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_cspm_enabled\":false,\"resource_collection_enabled\":false,\"account_tags\":[],\"cloud_run_revision_filters\":[],\"is_security_command_center_enabled\":false,\"host_filters\":[\"foo:bar\"],\"client_email\":\"Test-159c92b6b06abd9d@example.com\",\"automute\":false},\"id\":\"acd4d936-fba6-4b2f-8b46-768389ff90b1\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Mon, 11 Mar 2024 19:47:26 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/acd4d936-fba6-4b2f-8b46-768389ff90b1"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Mon, 11 Mar 2024 19:47:26 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}