{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"client_email\":\"78489d28e3cca21b@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"}, "response": {"body": {"string": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"client_email\":\"78489d28e3cca21b@example.com\",\"host_filters\":[],\"account_tags\":[],\"is_cspm_enabled\":false,\"automute\":false,\"is_security_command_center_enabled\":false,\"resource_collection_enabled\":false},\"id\":\"1ce480d7-4006-418e-b627-167af0586d7e\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Wed, 13 Dec 2023 21:29:11 GMT"}, {"request": {"body": {"string": "{\"data\":{\"attributes\":{\"client_email\":\"78489d28e3cca21b@example.com\",\"resource_collection_enabled\":true},\"id\":\"1ce480d7-4006-418e-b627-167af0586d7e\",\"type\":\"gcp_service_account\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/1ce480d7-4006-418e-b627-167af0586d7e"}, "response": {"body": {"string": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"resource_collection_enabled\":true,\"is_security_command_center_enabled\":false,\"automute\":false,\"account_tags\":[],\"host_filters\":[],\"client_email\":\"78489d28e3cca21b@example.com\",\"is_cspm_enabled\":false},\"id\":\"1ce480d7-4006-418e-b627-167af0586d7e\"}}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 201, "message": "Created"}}, "recorded_at": "Wed, 13 Dec 2023 21:29:11 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/1ce480d7-4006-418e-b627-167af0586d7e"}, "response": {"body": {"string": "", "encoding": null}, "headers": {"Content-Type": ["text/html; charset=utf-8"]}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Wed, 13 Dec 2023 21:29:11 GMT"}], "recorded_with": "VCR 6.0.0"}