{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/deletion/requests/-1/cancel"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"412\",\"code\":\"INVALID_ID\",\"title\":\"INVALID_ID\",\"detail\":\"INVALID_ID\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 412,
          "message": "Precondition Failed"
        }
      },
      "recorded_at": "Wed, 15 Jan 2025 14:26:26 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}