{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"displayed_total\":100,\"from\":1672527600000,\"indexes\":[\"test-index\",\"test-index-2\"],\"query\":{\"host\":\"abc\",\"service\":\"xyz\"},\"to\":1704063600000},\"type\":\"create_deletion_req\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/deletion/data/logs"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"13033\",\"type\":\"deletion_request\",\"attributes\":{\"created_at\":\"2026-08-21T11:47:16.120391487Z\",\"created_by\":\"luis.navarro@datadoghq.com\",\"displayed_total\":100,\"from_time\":1672527600000,\"indexes\":[\"test-index\",\"test-index-2\"],\"is_created\":false,\"org_id\":321813,\"product\":\"logs\",\"query\":\"host:abc service:xyz\",\"starting_at\":\"0001-01-01T00:00:00Z\",\"status\":\"pending\",\"to_time\":1704063600000,\"total_unrestricted\":0,\"updated_at\":\"2026-08-21T11:47:16.120391487Z\"}},\"meta\":{\"product\":\"logs\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 21 Aug 2026 11:47:15 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/deletion/requests/13033/cancel"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"13033\",\"type\":\"deletion_request\",\"attributes\":{\"created_at\":\"2026-08-21T11:47:16.120391Z\",\"created_by\":\"luis.navarro@datadoghq.com\",\"displayed_total\":100,\"from_time\":1672527600000,\"indexes\":[\"test-index\",\"test-index-2\"],\"is_created\":false,\"org_id\":321813,\"product\":\"logs\",\"query\":\"host:abc service:xyz\",\"starting_at\":\"0001-01-01T00:00:00Z\",\"status\":\"canceled\",\"to_time\":1704063600000,\"total_unrestricted\":0,\"updated_at\":\"2026-08-21T11:47:16.583052Z\"}},\"meta\":{\"product\":\"logs\",\"request_status\":\"canceled\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 21 Aug 2026 11:47:15 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}