{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"from\":\"2025-03-23T00:00:00Z\",\"limit\":1,\"to\":\"2025-03-24T00:00:00Z\"},\"type\":\"dora_failures_list_request\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/dora/failures"
      },
      "response": {
        "body": {
          "string": "{\"data\":[]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 22 May 2025 10:44:59 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}