{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"from\":\"2023-08-31T00:00:00Z\",\"to\":\"2023-09-01T00:00:00Z\"},\"type\":\"dora_deployments_list_request\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/dora/deployments"
      },
      "response": {
        "body": {
          "string": "{\"data\":[{\"id\":\"abc-123\",\"type\":\"dora_deployment\",\"attributes\":{\"service\":\"shopist\",\"started_at\":\"2023-08-31T14:26:14Z\",\"finished_at\":\"2023-08-31T14:26:24Z\",\"env\":\"production\",\"team\":\"backend\",\"version\":\"v1.12.07\"}}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 31 Aug 2023 14:26:14 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}