{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {},
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/processes?page%5Blimit%5D=2&search=process-agent&tags=testing%3Atrue"
      },
      "response": {
        "body": {
          "string": "{\"meta\":{\"page\":{\"after\":\"\",\"size\":0}},\"data\":[]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Thu, 06 Jan 2022 00:51:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}
