{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/org_configs/custom_roles"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"type\":\"org_configs\",\"id\":\"d4a6259b-5599-5120-8bdb-22718cb09118\",\"attributes\":{\"name\":\"custom_roles\",\"description\":\"Enables the custom roles (RBAC) UI.\",\"value_type\":\"bool\",\"value\":false,\"modified_at\":null}}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 12 Jun 2024 14:43:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}