{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/org_configs/i_dont_exist"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"OrgConfig: i_dont_exist not found\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 12 Jun 2024 14:43:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}