{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"value\":\"not-a-boolean\"},\"type\":\"org_configs\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/org_configs/custom_roles"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"The value provided for parameter 'OrgConfig: not-a-boolean' is invalid\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 12 Jun 2024 14:43:54 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}