{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"cases\":[{\"status\":\"info\"}],\"isEnabled\":true,\"message\":\"Test rule\",\"name\":\"Test-Create_a_detection_rule_returns_Bad_Request_response-1715358868\",\"options\":{},\"queries\":[{\"query\":\"\"}],\"tags\":[]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/rules"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Invalid rule configuration\",\"Query filter cannot be empty\"]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 10 May 2024 16:34:28 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}