{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"new-terraform-framework\",\"icon_url\":\"\",\"name\":\"ponse1744226684\",\"requirements\":[{\"controls\":[{\"name\":\"ponse1744226684\",\"rules_id\":[\"def-000-cea\"]}],\"name\":\"ponse1744226684\"}],\"version\":\"4\"},\"type\":\"custom_framework\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {},
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Wed, 09 Apr 2025 19:24:44 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/%7Bhandle%7D/%7Bversion%7D"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 500,
          "message": "Internal Server Error"
        }
      },
      "recorded_at": "Wed, 09 Apr 2025 19:24:44 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}