{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"rreb\",\"icon_url\":\"\",\"name\":\"bare\",\"requirements\":[{\"controls\":[{\"name\":\"sdee\",\"rules_id\":[\"tge-nhp-wjz\"]}],\"name\":\"serd\"}],\"version\":\"cr2e\"},\"type\":\"custom_framework\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Fri, 17 Jan 2025 20:09:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}