{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"query\":\"host:test\"},\"type\":\"critical_assets\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"input_validation_error(Field 'data.attributes.severity' is invalid: severity is required)\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Fri, 02 Jan 2026 19:09:02 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}