{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Delete_a_notification_rule_returns_OK_response-1713390904\",\"selectors\":{\"attributes\":[\"fim:true\"],\"implicit_vm_rule_match\":false,\"rule_tags\":[\"fim:true\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"severities\":[\"high\"],\"signal_tags\":[],\"trigger_source\":\"security_signals\"},\"targets\":[\"test\"]},\"type\":\"notification_rules\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"nix-jsb-qqv\",\"attributes\":{\"version\":1,\"name\":\"Test-Delete_a_notification_rule_returns_OK_response-1713390904\",\"targets\":[\"test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"rule_tags\":[\"fim:true\"],\"signal_tags\":[],\"attributes\":[\"fim:true\"],\"query\":\"(fim:\\\"true\\\" OR @fim:\\\"true\\\")\",\"migrated\":true,\"trigger_source\":\"security_signals\",\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1713390905027,\"update_date\":1713390905027,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_rules\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 17 Apr 2024 21:55:04 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/nix-jsb-qqv"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Wed, 17 Apr 2024 21:55:04 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/nix-jsb-qqv"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"not_found(Notification rule with id 'nix-jsb-qqv' not found)\"]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 17 Apr 2024 21:55:04 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}