{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"handle-testdeleteacustomframeworkreturnsokresponse1744141498\",\"icon_url\":\"https://example.com/icon-testdeleteacustomframeworkreturnsokresponse1744141498.png\",\"name\":\"Framework-testdeleteacustomframeworkreturnsokresponse1744141498\",\"requirements\":[{\"controls\":[{\"name\":\"Control-testdeleteacustomframeworkreturnsokresponse1744141498\",\"rules_id\":[\"def-000-cea\"]}],\"name\":\"Requirement-testdeleteacustomframeworkreturnsokresponse1744141498\"}],\"version\":\"1.0.testdeleteacustomframeworkreturnsokresponse1744141498\"},\"type\":\"custom_framework\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://frog.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"invalid_argument(Invalid rule configuration)\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Tue, 08 Apr 2025 19:44:58 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}