{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/handle-does-not-exist/version-does-not-exist"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Mon, 28 Apr 2025 15:24:28 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}