{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"relationships\":{\"findings\":{\"data\":[{\"id\":\"wrong-finding-id\",\"type\":\"findings\"}]}},\"type\":\"cases\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/security/findings/cases"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"finding not found\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Thu, 20 Nov 2025 16:06:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}