{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Get_notification_profile_by_id_returns_OK_response-1713390910\",\"selectors\":{\"attributes\":[\"fim:true\"],\"implicit_vm_rule_match\":false,\"rule_tags\":[\"fim:true\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"severities\":[\"high\"],\"signal_tags\":[],\"trigger_source\":\"security_signals\"},\"targets\":[\"test\"]},\"type\":\"notification_rules\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"gab-c0o-kzb\",\"attributes\":{\"version\":1,\"name\":\"Test-Get_notification_profile_by_id_returns_OK_response-1713390910\",\"targets\":[\"test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"rule_tags\":[\"fim:true\"],\"signal_tags\":[],\"attributes\":[\"fim:true\"],\"query\":\"(fim:\\\"true\\\" OR @fim:\\\"true\\\")\",\"migrated\":true,\"trigger_source\":\"security_signals\",\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1713390910151,\"update_date\":1713390910151,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_rules\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 17 Apr 2024 21:55:10 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/gab-c0o-kzb"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"gab-c0o-kzb\",\"attributes\":{\"version\":1,\"name\":\"Test-Get_notification_profile_by_id_returns_OK_response-1713390910\",\"targets\":[\"test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"rule_tags\":[\"fim:true\"],\"signal_tags\":[],\"attributes\":[\"fim:true\"],\"query\":\"(fim:\\\"true\\\" OR @fim:\\\"true\\\")\",\"migrated\":true,\"trigger_source\":\"security_signals\",\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1713390910151,\"update_date\":1713390910151,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_rules\"}}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Wed, 17 Apr 2024 21:55:10 GMT"
    },
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "delete",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/gab-c0o-kzb"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "recorded_at": "Wed, 17 Apr 2024 21:55:10 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}