{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/this-does-not-exist/version_history"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"not_found(Suppression with ID this-does-not-exist not found)\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Wed, 26 Nov 2025 13:33:06 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}