{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/this-does-not-exist"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"Not found\"]}\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Fri, 10 May 2024 16:34:46 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}