{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/siem-historical-detections/jobs/inva-lid"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"detail\":\"invalid jobId\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Tue, 26 May 2026 20:46:02 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}