{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {},
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/security/vulnerable-assets?page%5Bnumber%5D=1&page%5Btoken%5D=unknown"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"404\",\"title\":\"Unexpected internal error\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "recorded_at": "Tue, 14 Oct 2025 13:43:32 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}
