{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v2/security/findings?page%5Bcursor%5D=invalid_cursor"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"detail\":\"Invalid filters\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Wed, 17 Dec 2025 16:27:32 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}