{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"mute\":{\"expiration_date\":1778721573794,\"muted\":true,\"reason\":\"ACCEPTED_RISK\"}},\"id\":\"dbe5f567-192b-4404-b908-29b70e1c9f76\",\"meta\":{\"findings\":[{\"finding_id\":\"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==\"}]},\"type\":\"finding\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/posture_management/findings"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"dbe5f567-192b-4404-b908-29b70e1c9f76\",\"type\":\"finding\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 27 Oct 2023 12:59:49 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}