{"http_interactions": [{"request": {"body": {"string": "{\"data\":{\"attributes\":{\"mute\":{\"expiration_date\":1778721573794,\"muted\":true,\"reason\":\"ACCEPTED_RISK\"}},\"id\":\"dbe5f567-192b-4404-b908-29b70e1c9f76\",\"meta\":{\"findings\":[{\"finding_id\":\"AQAAAYbb1i0gijTHEQAAAABBWWJiMWkwZ0FBQ2FuNzBJVGZXZ3B3QUE\"}]},\"type\":\"finding\"}}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "patch", "uri": "https://api.datadoghq.com/api/v2/posture_management/findings"}, "response": {"body": {"string": "{\"errors\":[{\"status\":\"422\",\"title\":\"Invalid Request\",\"detail\":\"Some findings IDs are malformed\"}]}", "encoding": null}, "headers": {"Content-Type": ["application/vnd.api+json"]}, "status": {"code": 422, "message": "Unprocessable Entity"}}, "recorded_at": "Fri, 27 Oct 2023 10:09:05 GMT"}], "recorded_with": "VCR 6.0.0"}