{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"ponse1737559707\",\"icon_url\":\"\",\"name\":\"ponse1737559707\",\"requirements\":[{\"controls\":[{\"name\":\"ponse1737559707\",\"rules_id\":[\"kyz-e99-tys\"]}],\"name\":\"ponse1737559707\"}],\"version\":\"ponse1737559707\"},\"type\":\"custom_framework\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
      },
      "response": {
        "body": {
          "string": "",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Wed, 22 Jan 2025 15:28:27 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}