{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"mute\":{\"description\":\"Resolved.\",\"is_muted\":false,\"reason\":\"RISK_ACCEPTED\"}},\"relationships\":{\"findings\":{\"data\":[{\"id\":\"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==\",\"type\":\"findings\"}]}},\"type\":\"mute\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/security/findings/mute"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"422\",\"title\":\"Invalid Request\",\"detail\":\"The provided reason is not valid for the specified mute action. Possible values: [NO_PENDING_FIX HUMAN_ERROR NO_LONGER_ACCEPTED_RISK OTHER]\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        }
      },
      "recorded_at": "Mon, 27 Apr 2026 16:23:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}