{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"mute\":{\"description\":\"Resolved.\",\"is_muted\":false,\"reason\":\"NO_PENDING_FIX\"}},\"relationships\":{\"findings\":{\"data\":[{\"id\":\"ZGVmLTAwMC0wYmd-MDE4NjcyMDJkMzE4MDE5ODY5MGE4ZmQ2MmFlMjg0Y2M=\",\"type\":\"findings\"}]}},\"type\":\"mute\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "patch",
        "uri": "https://api.datadoghq.com/api/v2/security/findings/mute"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"4ae87c1e-099b-4f63-af21-3568cf226263\",\"type\":\"mute\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 202,
          "message": "Accepted"
        }
      },
      "recorded_at": "Mon, 27 Apr 2026 16:48:26 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}