{"http_interactions": [{"request": {"body": {"string": "{\"cases\":[{\"condition\":\"a > 0\",\"name\":\"\",\"notifications\":[],\"status\":\"info\"}],\"filters\":[],\"isEnabled\":true,\"message\":\"Test rule\",\"name\":\"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605\",\"options\":{\"evaluationWindow\":900,\"keepAlive\":3600,\"maxSignalDuration\":86400},\"queries\":[{\"aggregation\":\"count\",\"distinctFields\":[],\"groupByFields\":[],\"metrics\":[],\"query\":\"@test:true\"}],\"tags\":[],\"type\":\"log_detection\"}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "post", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/rules"}, "response": {"body": {"string": "{\"creationAuthorId\":1445416,\"tags\":[],\"isEnabled\":true,\"hasExtendedTitle\":false,\"message\":\"Test rule\",\"options\":{\"detectionMethod\":\"threshold\",\"evaluationWindow\":900,\"maxSignalDuration\":86400,\"keepAlive\":3600},\"version\":1,\"createdAt\":1666647605501,\"filters\":[],\"queries\":[{\"query\":\"@test:true\",\"groupByFields\":[],\"aggregation\":\"count\",\"name\":\"\",\"distinctFields\":[]}],\"isDeleted\":false,\"cases\":[{\"status\":\"info\",\"notifications\":[],\"name\":\"\",\"condition\":\"a > 0\"}],\"type\":\"log_detection\",\"id\":\"3bq-nad-szq\",\"isDefault\":false,\"name\":\"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605\"}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "Mon, 24 Oct 2022 21:40:05 GMT"}, {"request": {"body": {"string": "{\"cases\":[{\"status\":\"info\"}],\"isEnabled\":true,\"message\":\"Test rule Bad\",\"name\":\"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605\",\"options\":{},\"queries\":[{\"query\":\"\"}],\"tags\":[]}", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "method": "put", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/rules/3bq-nad-szq"}, "response": {"body": {"string": "{\"errors\":[\"Invalid rule configuration\",\"Query filter cannot be empty\"]}\n", "encoding": null}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 400, "message": "Bad Request"}}, "recorded_at": "Mon, 24 Oct 2022 21:40:05 GMT"}, {"request": {"body": "", "headers": {}, "method": "delete", "uri": "https://api.datadoghq.com/api/v2/security_monitoring/rules/3bq-nad-szq"}, "response": {"body": {"string": "", "encoding": null}, "headers": {}, "status": {"code": 204, "message": "No Content"}}, "recorded_at": "Mon, 24 Oct 2022 21:40:05 GMT"}], "recorded_with": "VCR 6.0.0"}