{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"cloud_provider\":{\"invalid\":{\"aws_account_id\":[\"tag1:v1\"]}}},\"id\":\"csm_resource_filter\",\"type\":\"csm_resource_filter\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"Invalid cloud provider invalid\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 15 May 2025 09:52:48 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}