{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"cloud_provider\":{\"aws\":{\"123456789\":[]}}},\"id\":\"csm_resource_filter\",\"type\":\"csm_resource_filter\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters"
      },
      "response": {
        "body": {
          "string": "{\"data\":{\"id\":\"csm_resource_filter\",\"type\":\"csm_resource_filter\",\"attributes\":{\"cloud_provider\":{\"aws\":{\"123456789\":[]}},\"uuid\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "recorded_at": "Tue, 06 May 2025 08:24:44 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}