{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"handle\":\"\",\"name\":\"\",\"requirements\":[{\"controls\":[{\"name\":\"\",\"rules_id\":[\"\"]}],\"name\":\"\"}],\"version\":\"\"},\"type\":\"custom_framework\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "put",
        "uri": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/UpdateacustomframeworkreturnsBadRequestresponse/10"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"input_validation_error(Field 'data.attributes.requirements.name' is invalid: field 'requirements.name' must not be empty), input_validation_error(Field 'data.attributes.controls.name' is invalid: field 'controls.name' must not be empty), input_validation_error(Field 'data.attributes.name' is invalid: field 'name' must not be empty)\"}]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 01 May 2025 15:27:22 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}