{
  "http_interactions": [
    {
      "request": {
        "body": {
          "string": "{\"data\":{\"attributes\":{\"data_exclusion_query\":\"not enough attributes\",\"enabled\":false,\"name\":\"cold_harbour\",\"rule_query\":\"rule:[A-Invalid\"},\"type\":\"suppressions\"}}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "post",
        "uri": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/validation"
      },
      "response": {
        "body": {
          "string": "{\"errors\":[\"input_validation_error(Field 'data.attributes.rule_query' is invalid: rule query is invalid)\"]}",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        }
      },
      "recorded_at": "Thu, 04 Sep 2025 08:33:38 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}