{
  "http_interactions": [
    {
      "request": {
        "body": "",
        "headers": {
        },
        "method": "get",
        "uri": "https://api.datadoghq.com/api/v1/synthetics/settings/default_locations"
      },
      "response": {
        "body": {
          "string": "[]\n",
          "encoding": null
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "Fri, 26 Jan 2024 10:20:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.0.0"
}